table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* tableVer */
.contentIn .tableVer { width:100%; margin-top:10px; border-top:3px solid #0057a1; font-size:14px;}
.contentIn .tableVer th { background:#f3f3f3; border-bottom:1px solid #dbdbdb; padding:13px; vertical-align:middle; width: 20%; }
.contentIn .tableVer td {  border-bottom:1px solid #dbdbdb; padding:13px 5px; background:#fff; vertical-align:middle; line-height:18px;}
.contentIn .tableVer td.attTxt a { color:#e84c3d; text-decoration:underline;  }
.contentIn .tableVer td.contArea { line-height: 24px; height: 300px}
.contentIn .tableVer tr td.subTitle { background:#f3f3f3; }
.contentIn .tableVer tr td.tit a:hover, .content .boardView tr td.tit a:active { color:#0057a1; text-decoration:underline; font-weight:bold; }
.contentIn .tableVer tr td span { padding: 0px 5px; }

/* *********************************************************************************
* announce-top
* *********************************************************************************/
.announce-top>.announce-date>ul>li {
    font-size: 14px;
}

.announce-top>.announce-date>ul {
    overflow: hidden;
}

.first-date {
    float: left;
}

.last-date {
    float: right;
}

.announce-top>.announce-date>ul::before,
.announce-top>.announce-date>ul::after {
    content: "";
    display: table;
    clear: both;
}
.announce-date {
    margin-top: 30px;
}

/* Clearfix 추가 */
.announce-top::after {
    content: "";
    display: table;
    clear: both;
}

