<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" th:href="@{../css/fcltt/fcltt.css}" />
	<script th:src="@{../js/fcltt/fcltt.js}"></script>
</head>
<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">

	<!-- wrap start -->
	<div class="wrap">
		<!-- main_con start -->
		<div id="main_con">
			<div id="nav_menu">
				<div id="lnb">
					<h2 class="title">모집공고</h2>
					<div class="menu">
						<ul>
							<li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">모집공고</a>
								<ul class="sub" style="display: none;">
									<li><a href="#">모집공고 등록</a></li>
									<li><a href="#">모집공고 목록</a></li>
								</ul>
							</li>
							<li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">공지사항</a>
								<ul class="sub" style="display: none;">
									<li><a href="#">공지사항 등록</a></li>
									<li><a href="#">공지사항 목록</a></li>
								</ul>
							</li>
							<li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">FAQ</a>
								<ul class="sub" style="display: none;">
									<li><a href="#">FAQ 등록</a></li>
									<li><a href="#">FAQ 목록</a></li>
								</ul>
							</li>

						</ul>
					</div>

				</div>
			</div>
			<!-- contents start -->
			<div id="contents">

				<style>
					@media screen and (max-width: 1024px) {
						.table-responsive>table>tbody>tr td[data-cell-header]:before {
							width: 30%;
							margin: 0 0 0 0;
							vertical-align: unset;
						}
					}

					.table-responsive>table>tbody>tr:hover {
						background-color: #e6f8ff;
					}

					@media screen and (min-width: 1100px) {
						#select-box-margin-left-10 {
							margin-left: 6px;
						}
					}
				</style>
				<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

				<!-- detail-content -->
				<article id="detail-content">
					<form id="listForm" name="listForm"
						action="https://minwon.moel.go.kr/minwon2008/lc_minwon/lc_form_apply.do;jsessionid=zVSgTiA2kOkekcq6lILRPQYDHEBkkzAovCEt5qTCJdbe8CZTxX2pWaqJoS8XE3Kn.minwon-was_servlet_minwon2"
						method="post">
						<div class="heading-wrap container">
							<h3 class="heading1">
								<span>재판 조력자 모집공고 </span>
							</h3>
						</div>

						<!-- 공고 제목 start -->
						<div class="announce-top">
							<div class="announce-title">
								<ul>
									<li>
										<strong>공고 제목</strong>
									</li>
								</ul>
							</div>
							<div class="announce-date">
								<ul>
									<li class="first-date">
										<strong>최종변경일시 : </strong>
										2023-08-18
									</li>
									<li class="second-date">
										<strong>최초입력일시 : </strong>
										2023-08-30
									</li>
								</ul>
							</div>
						</div>
						<!-- //공고 제목 end -->

						<div class="container">
							<div class="box box1">
								<!-- 첨부파일 start -->
								<h3>첨부파일</h3>
								<tr>
									<th scope="row">첨부</th>
									<td>
										<div id="fileControl" style="display: none"></div>
										<!--
					파일 확장자에 따른 아이콘입니다.
					<a href="#" class="btnAttach v1">.pdf</a>
					<a href="#" class="btnAttach v2">.hwp</a>
					<a href="#" class="btnAttach v3">.xls</a>
					<a href="#" class="btnAttach v4">.ppt</a>
					<a href="#" class="btnAttach v5">.doc</a>
					<a href="#" class="btnAttach v6">.txt</a>
					<a href="#" class="btnAttach v7">.png</a>
					<a href="#" class="btnAttach v8">.mp4</a>
					<a href="#" class="btnAttach v9">.mp3</a>
					<a href="#" class="btnAttach v10">.zip</a>
					<a href="#" class="btnAttach v11">.etc</a>
					-->

										<a href="#" class="btnAttach v1" onclick="existFile('0'); return false;">
											[공고문] 2023년 2차 장기미임대 매입임대주택 입주자모집(23_08_18).pdf
										</a>
										<a href="https://www.i-sh.co.kr/app/com/util/htmlConverter.do?brd_id=GS0401&amp;seq=264867&amp;data_tp=A&amp;file_seq=4"
											class="btn btnWhite h32 icoView" target="_blank"
											title="파일 미리보기"><span>미리보기</span></a>
									</td>
								</tr>
								<br>
								<tr>
									<th scope="row">첨부</th>
									<td>
										<div id="fileControl" style="display: none"></div>
										<!--
					파일 확장자에 따른 아이콘입니다.
					<a href="#" class="btnAttach v1">.pdf</a>
					<a href="#" class="btnAttach v2">.hwp</a>
					<a href="#" class="btnAttach v3">.xls</a>
					<a href="#" class="btnAttach v4">.ppt</a>
					<a href="#" class="btnAttach v5">.doc</a>
					<a href="#" class="btnAttach v6">.txt</a>
					<a href="#" class="btnAttach v7">.png</a>
					<a href="#" class="btnAttach v8">.mp4</a>
					<a href="#" class="btnAttach v9">.mp3</a>
					<a href="#" class="btnAttach v10">.zip</a>
					<a href="#" class="btnAttach v11">.etc</a>
					-->

										<a href="#" class="btnAttach v1" onclick="existFile('1'); return false;">
											[주택목록] 2023년 2차 장기미임대 매입임대주택 공급대상 주택목록(600호).pdf
										</a>
										<a href="https://www.i-sh.co.kr/app/com/util/htmlConverter.do?brd_id=GS0401&amp;seq=264867&amp;data_tp=A&amp;file_seq=5"
											class="btn btnWhite h32 icoView" target="_blank"
											title="파일 미리보기"><span>미리보기</span></a>
									</td>
								</tr>
							</div>
						</div>
						<!-- 공고 내용 start -->
						<div class="searchform searchform2">
							<div class="searchform-wrap">
								<tr>
									<td colspan="2" class="cont">
										<p style="text-align: center;"><span style="font-size: 12pt;"><strong>등록 한 공고 내용 출력</strong></span></p>
										


							</div>
						</div>
						<!-- //공고 내용 end -->
						<!-- //본문컨텐츠 영역 end -->
						<!-- 페이지 이동 버튼 -->
						<div class="fclttRegist_btn">
							<button type="button" class="fcltt_btn1">수정하기</button>
							<button type="button" class="fcltt_btn2">뒤로가기</button>
						</div>
						<!-- //페이지 이동 버튼 end -->
					</form>
				</article>
				<!-- //detail-content end -->

			</div>
			<!-- //contents end -->
		</div>
		<!-- //main_con end -->
	</div>
	<!-- //wrap end -->

</th:block>

</html>