<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" th:href="@{./../css/fcltt/fcltt.css}" />
	<script th:src="@{./../js/fcltt/fcltt.js}"></script>
</head>
<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">

	<!-- wrap start -->
	<div class="wrap">
		<!-- main_con start -->
		<div id="main_con">
			<div id="nav_menu">
				<div id="lnb">
					<h2 class="title">모집공고</h2>
					<div class="menu">
                        <ul>
                            <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">모집공고</a>
                                <ul class="sub" style="display: none;">
                                    <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_JURIS','ROLE_COURT')"><a href="../announce/announceRegist">모집공고 등록</a></li>
                                    <li><a href="../announce/announceList">모집공고 목록</a></li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">공지사항</a>
                                <ul class="sub" style="display: none;">
                                    <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_JURIS','ROLE_COURT')"><a href="../notice/noticeRegist">공지사항 등록</a></li>
                                    <li><a href="../notice/noticeList">공지사항 목록</a></li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">FAQ</a>
                                <ul class="sub" style="display: none;">
                                    <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_JURIS','ROLE_COURT')"><a href="../faq/faqRegist">FAQ 등록</a></li>
                                    <li><a href="../faq/faqList">FAQ 목록</a></li>
                                </ul>
                            </li>

                        </ul>
					</div>

				</div>
			</div>
			<!-- contents start -->
			<div id="contents">

				<style>
					@media screen and (max-width: 1024px) {
						.table-responsive>table>tbody>tr td[data-cell-header]:before {
							width: 30%;
							margin: 0 0 0 0;
							vertical-align: unset;
						}
					}

					.table-responsive>table>tbody>tr:hover {
						background-color: #e6f8ff;
					}

					@media screen and (min-width: 1100px) {
						#select-box-margin-left-10 {
							margin-left: 6px;
						}
					}
				</style>

				<!-- detail-content -->
				<article id="detail-content">
					<!-- form start -->
					<form id="announceForm" name="announceForm" action="announceRegistForm" method="post">
						<div class="heading-wrap container">
							<h3 class="heading1">
								<span>재판 조력자 모집공고 등록</span>
							</h3>
						</div>

						<!-- 본문컨텐츠 영역 start -->
						<div class="container">

							<!-- box box1 start -->
							<div class="top-box">
								<table>
									<!-- 첨부파일 start -->
									<tr class="top-box-tr-one">
										<td class="top-box-one">
											<div id="fileControl" style="display: none"></div>

										</td>
									</tr>
									<tr class="top-box-tr-two">

									</tr>
								</table>
							</div>
							<!-- //box box1 end -->
						</div>
						<!-- //본문컨텐츠 영역 end -->

						<!-- 공고 내용 start -->
						<div class="searchform searchform2">

							<!-- searchform-wrap start -->
							<div class="searchform-wrap">

								<!-- 등록 양식 start -->
								<div class="table table-responsive">

									<!--<span class="top-box-one-span-one">작성자 : <span
											th:text="${vo.admin_id}"></span></span>-->
									<table>

										<colgroup>
											<col style="width: 30%">
											<col style="width: 70%">
										</colgroup>
										<tbody>
											<tr>
												<th scope="row" class="txt-left">
													<span class="txt-left" title="작성자">작성자</span>
												</th>
												<td data-cell-header="작성자" class="txt-left">
													<p name="admin_id" id="writer" style="font-size: 17px">
														[[${vo.admin_id}]]
													</p>
												</td>
											</tr>

											<tr>
												<th scope="row" class="txt-left">
													<span class="txt-left" title="제목">제목</span>
												</th>
												<td data-cell-header="제목" class="txt-left">
													<input name="announce_title" id="title" value="" class="cm_inptxt"
														type="text">
												</td>
											</tr>

											<!-- 달력 start -->
											<tr>
												<th scope="row" class="txt-left">
													<span class="search_th">게시 시작일</span>
												</th>
												<td data-cell-header="게시 시작일" class="txt-left">
													<div class="fcltt_phone" style="display: inline-block">

														<div class="calander-box">
															<input type="text" class="datepicker" readonly
																placeholder="날짜선택" name="announce_start_date"
																value="" /> -
															<input type="text" class="datepicker" readonly
																placeholder="날짜선택" name="announce_end_date" value="" />
														</div>

													</div>
												</td>
											</tr>
											<!-- //달력 end -->

											<!-- 재판 조력자 start -->
											<tr>
												<th scope="row" class="txt-left">
													<span>재판조력자 구분</span>
												</th>
												<td data-cell-header="재판조력자" class="txt-left">
													<div class="select-box" style="width: 180px">
														<label for="selectType1"></label>
														<select class="info-select" id="selectType1" name="selectType1">
															<option value="선택">선택</option>
															<option value="조력자"
																th:selected="${vo.trial_fcltt_main_code == '조력자'}">
																조력자
															</option>
															<option value="통번역인"
																th:selected="${vo.trial_fcltt_main_code == '통번역인'}">
																통번역인
															</option>
															<option value="조정위원"
																th:selected="${vo.trial_fcltt_main_code == '조정위원'}">
																조정위원
															</option>
															<option value="전문심리위원"
																th:selected="${vo.trial_fcltt_main_code == '전문심리위원'}">
																전문심리위원
															</option>
															<option value="상담위원"
																th:selected="${vo.trial_fcltt_main_code == '상담위원'}">
																상담위원
															</option>
														</select>
													</div>
													<div class="select-box" style="width: 180px">
														<label for="selectType2"></label>
														<select class="info-select" id="selectType2" name="selectType2">
															<option value="선택">선택</option>
															<option th:each="vo : ${tlist}"
																th:class="${vo.trial_fcltt_main_code}"
																th:select="${vo.getTrial_fcltt_clasifi_code == vo.getTrial_fcltt_clasifi_code()}">
																[[${vo.trial_fcltt_clasifi_code}]]
															</option>
														</select>
													</div>
													<div class="select-box selectBox3" style="width: 180px">
														<label for="selectType3"></label>
														<select class="info-select" id="selectType3" name="selectType3">
															<option value="선택">선택</option>
															<option th:each="vo : ${tlist}"
																th:class="${vo.trial_fcltt_clasifi_code}"
																th:select="${vo.getTrial_fcltt_sbcls_code == vo.getTrial_fcltt_sbcls_code()}">
																[[${vo.trial_fcltt_sbcls_code}]]
															</option>
														</select>
													</div>
												</td>
											</tr>
											<!-- //재판 조력자 end -->

											<!-- ckEditor start -->
											<tr>
												<th scope="row" class="txt-left">
													<span>내용</span>
												</th>
												<td data-cell-header="내용" class="txt-left">


													<textarea id="editor" name="announce_content">
													</textarea>
													<!-- //ckEditor end -->
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //등록 양식 end -->
							</div>
							<!-- //searchform-wrap end -->
						</div>
						<!-- //공고 내용 end -->

						<!-- 페이지 이동 버튼 -->
						<div class="fclttRegist_btn" style="margin-bottom: 50px">
							<button type="submit" class="fcltt_btn1">등록</button>
							<button type="button" class="fcltt_btn2" onclick="cancelClick()">취소</button>
						</div>
						<!-- //페이지 이동 버튼 end -->
					</form>
					<!-- //form end -->
				</article>
				<!-- //detail-content end -->
			</div>
			<!-- //contents end -->
		</div>
		<!-- //contents end -->


	</div>
	<!-- //main_con end -->
	</div>
	<!-- //wrap end -->
</th:block>

<!-- ckEditor start -->
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script>
	ClassicEditor.create(document.querySelector('#editor'), {
		language: "ko",
		simpleUpload:
		{
			uploadUrl: "/upload/image",
			withCredentials: true,
		}
	})
		.then(newEditor => {
			editor = newEditor;
		})
		.catch(error => {
			console.error(error);
		});
</script>


<style>
	.ck-editor__editable {
		height: 400px;
	}

	.ck-content {
		font-size: 12px;
	}
</style>
<!-- //ckEditor end -->

<!-- 조력자 분류 start -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{./../js/announce/announceTrial.js}"></script>
<script th:src="@{./../js/announce/UploadAdpater.js}"></script>

<script>
	function cancelClick() {
		if (confirm("등록을 취소하시겠습니까?")) {
			history.back();
		}
	}

	document.getElementById("announceForm").addEventListener("submit", function (event) {
		var title = document.getElementById("title").value;
		var startDate = document.getElementsByName("announce_start_date")[0].value;
		var endDate = document.getElementsByName("announce_end_date")[0].value;
		var selectType1 = document.getElementById("selectType1").value;
		var selectType2 = document.getElementById("selectType2").value;
		var selectType3 = document.getElementById("selectType3").value;
		var mydata = editor.getData();

		if (title === "" || startDate === "" || endDate === "" || selectType1 === "" || selectType2 === "" || selectType3 === "" || mydata === "") {
			alert("입력하지 않은 정보가 있습니다. 다시 확인해주세요.");
			event.preventDefault();
		} else {

			if (confirm("등록하시겠습니까?")) {

			} else {
				event.preventDefault();
			}
		}
	});

</script>

</html>