<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{../../css/mypage/mypage.css}"/>
<link rel="stylesheet" th:href="@{../../css/app/info.css}"/>

<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">

  <div class="wrap">
    <!-- main_con  -->
    <div id="main_con">
      <div id="nav_menu">
        <div id="lnb">
          <h2 class="title">Mypage</h2>
          <div class="menu">
            <ul>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">나의 정보관리</a>
              </li>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">나의 신청현황</a>
              </li>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">나의 활동내역</a>
              </li>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">중지 및 해제신청</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div id="contents">

          <style>
        @media screen and (max-width: 1024px) {
          .table-responsive > table > tbody > tr td[data-cell-header]:before {
            width: 30%;
            margin: 0 0 0 0;
            vertical-align: unset;
          }
        }
        .table-responsive > table > tbody > tr:hover {
          background-color: #e6f8ff;
        }
        @media screen and (min-width: 1100px) {
          #select-box-margin-left-10 {
            margin-left: 6px;
          }
        }
      </style>
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->


      <article id="detail-content">
        <form
          id="listForm"
          name="listForm"
          action="#"
          method="post"
        >
         
          <div class="heading-wrap container">
            <h3 class="heading1">
              <span>회원정보 변경</span>
            </h3>
          </div>

          <!-- 본문컨텐츠 영역 -->
          <div class="container">
          
          	                <div class="table table-responsive">
                    <table>
                        <tbody>
                        <tr style="padding-top: 20px">
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">아이디</span>
                            </th>
                            <td data-cell-header="아이디" class="txt-left">
                                <span id="cvl_id" th:text="${userVO.user_id}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">비밀번호</span>
                            </th>
                            <td data-cell-header="비밀번호" class="txt-left">
                                <div class="input-wrap-three write-wrap-m"
                                     style="width: 162px; display: inline-block">
                                    <div class="input-wrap" style="width: 200px">
                                        <input name="cvl_nm" id="cvl_nm"
                                               th:value="${userVO.user_pw}" class="cm_inptxt"
                                               type="password"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">비밀번호 확인</span>
                            </th>
                            <td data-cell-header="비밀번호 확인" class="txt-left">
                                <div class="input-wrap-three write-wrap-m"
                                     style="width: 162px; display: inline-block">
                                    <div class="input-wrap" style="width: 200px">
                                        <input name="cvl_nm" id="cvl_nm"
                                               th:value="${userVO.user_pw}" class="cm_inptxt"
                                               type="password"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">성명</span>
                            </th>
                            <td data-cell-header="성명" class="txt-left">
                                <span id="cvl_id" th:text="${userVO.user_name}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">생년월일</span>
                            </th>
                            <td data-cell-header="생년월일" class="txt-left">
                                <span id="cvl_id">19910101</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">직업</span>
                            </th>
                            <td data-cell-header="직업" class="txt-left">
                                <div class="input-wrap" style="width: 200px; display: inline-block">
                                    <input name="userVO.user_job" id="cvl_job"
                                           th:value="${userVO.user_job}" class="cm_inptxt"
                                           type="text" maxlength="8"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span style="margin-left: 80px">휴대폰번호</span>
                            </th>
                            <td data-cell-header="휴대폰번호" class="txt-left">
                                <div class="input-wrap-three write-wrap-m"
                                     style="display: inline-block">
                                    <div class="input-wrap" style="width: 200px; display: inline-block">
                                        <input name="userVO.user_phone" maxlength="4" id="cvl_cel1" th:value="${userVO.user_phone}"
                                               class="cm_inptxt" title="휴대폰번호"
                                               type="text" onkeydown="return num_only(event)"
                                               readonly/>
                                    </div>
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="" style="margin-left: 80px">이메일</span>
                            </th>
                            <td class="txt-left">
                                <div class="input-wrap" style="width: 200px; display: inline-block">
                                    <input name="" id="cvl_mail" th:value="${#strings.substringBefore(userVO.user_email, '@')}" class="cm_inptxt" type="text">
                                </div>
                                <span style="margin: 7px">@</span>
                                <div class="input-wrap" style="width: 200px; display: inline-block">
                                    <input name="cvl_nm" id="cvl_mail2" th:value="${#strings.substringAfter(userVO.user_email, '@')}" class="cm_inptxt" type="text">
                                </div>
                                <div class="select-box" style="padding: 9px;">
                                    <select name="" id="mailAddr" class="info-select" >
                                        <option value="">직접입력</option>
                                        <option value="naver">naver.com</option>
                                        <option value="hanmail">hanmail.net</option>
                                        <option value="gmail">gmail.com</option>
                                        <option value="daum">daum.net</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="border-none txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">주소</span>
                            </th>
                            <td data-cell-header="주소" class="txt-left essential-responsive">
                                <input type="hidden" id="cvl_zip1" name="cvl_zip1" value=""/>
                                <input type="hidden" id="cvl_zip2" name="cvl_zip2" value=""/>
                                <div class="address-wrap write-wrap-m">
                                    <div class="address-btn-wrap">
                                        <div class="input-wrap">
                                            <input id="postcode" name="postAddr user_ar_zonecode"
                                                   class="cm_inptxt" th:value="${userVO.user_ar_zonecode}" title="우편번호 앞자리" type="text"
                                                   readonly="readonly"/>
                                        </div>
                                        <button type="button" class="address-btn"
                                                onclick="execDaumPostcode()"
                                                title="새창열림">우편번호 찾기
                                        </button>
                                    </div>
                                    <div class="input-wrap" style="width: 478px">
                                        <input name="addr1 user_ar" id="addr1" maxlength="100"
                                               class="cm_inptxt" title="시군구주소 입력" type="text"
                                               th:value="${userVO.user_ar}" readonly="readonly"/>
                                    </div>
                                    <div class="input-wrap" style="width: 478px">
                                        <input name="addr2 user_ar_detail" id="addr2" maxlength="50"
                                               class="cm_inptxt" title="상세주소 입력"
                                               type="text" value="" placeholder="상세주소"
                                               th:value="${userVO.user_ar_detail}"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
						<tr>
                            <th scope="row" class="txt-left">
                                <span style="margin-left: 80px">계좌번호</span>
                            </th>
                            <td data-cell-header="계좌번호" class="txt-left">
                                <div style="overflow: hidden; width: 500px">
                                    <div class="select-box" style="margin-bottom: 10px; float: left">
                                        <label for="selectBank"></label>
                                        <select class="info-select" id="selectBank"
                                                name="user_bank" title="검색조건을 선택해주세요.">
                                            <option value="">은행목록</option>
                                            <option value="kb">국민은행</option>
                                            <option value="ibk">기업은행</option>
                                            <option value="nh">농협은행</option>
                                            <option value="sh">신한은행</option>
                                            <option value="wr">우리은행</option>
                                            <option value="hn">하나은행</option>
                                            <option value="sc">SC제일은행</option>
                                        </select>
                                    </div>
                                    <div class="selectedBank" style="float: left">
                                        <img src="#" alt="" id="bankIcon">
                                        <p style="float:right;" class="selBank"></p>
                                    </div>
                                </div>
                                <div class="input-wrap-three write-wrap-m">
                                    <div class="input-wrap" style="width: 320px; display: inline-block">
                                        <input name="user_bank_account" maxlength="4" id="cvl_account1"
                                               th:value="${userVO.user_bank_account}" class="cm_inptxt"
                                               title="계좌번호" type="text"
                                               onkeydown="return num_only(event)" placeholder="계좌번호"/>
                                    </div>
                                    <div class="input-wrap"
                                         style="width: 150px; display: inline-block; margin-left: 5px">
                                        <input name="user_bank_holder" maxlength="4" id="cvl_account2"
                                               th:value="${userVO.user_bank_holder}" class="cm_inptxt"
                                               title="예금주"
                                               type="text" onkeydown="return num_only(event)" placeholder="예금주"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
          
				<div class="btn-wrap txt-center"  style=" margin-bottom: 20px;">
					<a href="../mypage/main" class="btn-style btn-style39">
						<span>취소</span>
					</a>
					<a href="#" class="btn-style btn-style39" id="infoChange">
						<span>변경</span>
					</a>
				</div>
      
          </div>
          <!-- //본문컨텐츠 영역 -->
        </form>
      </article>
    </div>
    </div>
    <!-- //main_con  -->
  </div>

</th:block>


<!-- 주소찾기 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	function execDaumPostcode() {
		new daum.Postcode({
			oncomplete: function(data) {
				var addr = '';
				
				if (data.userSelectedType === 'R'){
					addr = data.roadAddress;
				} else {
					addr = data.jibunAddress;
				}
				
				document.getElementById('postcode').value = data.zonecode;
				document.getElementById("addr1").value = addr;
				document.getElementById("addr2").focus();
			}
		}).open();
	}	
</script>


<!--은행정보 확인-->
<script>
    $("#selectBank").change(function () {
        let selected = $("#selectBank option:selected").val();
        if (selected == 'kb') {
            $("#bankIcon").attr("src", "/img/app/kbIcon.png");
            $(".selBank").html('국민은행');
        } else if (selected == 'ibk') {
            $("#bankIcon").attr("src", "/img/app/ibkIcon.png");
            $(".selBank").html('기업은행');
        } else if (selected == 'nh') {
            $("#bankIcon").attr("src", "/img/app/nhIcon.png");
            $(".selBank").html('농협은행');
        } else if (selected == 'sh') {
            $("#bankIcon").attr("src", "/img/app/shIcon.png");
            $(".selBank").html('신한은행');
        } else if (selected == 'wr') {
            $("#bankIcon").attr("src", "/img/app/wrIcon.png");
            $(".selBank").html('우리은행');
        } else if (selected == 'hn') {
            $("#bankIcon").attr("src", "/img/app/hnIcon.png");
            $(".selBank").html('하나은행');
        } else if (selected == 'sc') {
            $("#bankIcon").attr("src", "/img/app/scIcon.png");
            $(".selBank").html('SC제일은행');
        } else {
            $("#bankIcon").attr("src", "#");
            $(".selBank").html('');
        }

    });

</script>


<!--메일주소 선택입력-->
<script>

    $("#mailAddr").change(function () {
        let selmail = $("#mailAddr option:selected").html();
        $("#cvl_mail2").attr("value", selmail);

    });

    $(".addCourt").click(function () {
        console.log("추가");
    })
</script>


</html>
