<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{../../css/mypage/mypage.css}"/>

<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">

  <div class="wrap">
    <!-- main_con  -->
    <div id="main_con">
      <div id="nav_menu">
        <div id="lnb">
          <h2 class="title">Mypage</h2>
          <div class="menu">
            <ul>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">나의 정보관리</a>
              </li>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">나의 신청현황</a>
              </li>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">나의 활동내역</a>
              </li>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">중지/해제신청관리</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div id="contents">

          <style>
        @media screen and (max-width: 1024px) {
          .table-responsive > table > tbody > tr td[data-cell-header]:before {
            width: 30%;
            margin: 0 0 0 0;
            vertical-align: unset;
          }
        }
        .table-responsive > table > tbody > tr:hover {
          background-color: #e6f8ff;
        }
        @media screen and (min-width: 1100px) {
          #select-box-margin-left-10 {
            margin-left: 6px;
          }
        }
      </style>
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->


      <article id="detail-content">
        <form
          id="listForm"
          name="listForm"
          action="#"
          method="post"
        >
          <input
            type="hidden"
            id="cd_appeal_form"
            name="cd_appeal_form"
            value="ALL"
          />
          <input type="hidden" id="srch_gubn" name="srch_gubn" value="" />
          <input
            type="hidden"
            id="srch_cd_appeal_form"
            name="srch_cd_appeal_form"
            value=""
          />
          <input
            type="hidden"
            id="search_capp_biz_cd"
            name="search_capp_biz_cd"
            value=""
          />
          <input type="hidden" id="cate_name" name="cate_name" value="" />
          <input
            type="hidden"
            id="sub_cate_name"
            name="sub_cate_name"
            value=""
          />
          <div class="heading-wrap container">
            <h3 class="heading1">
              <span>회원정보 변경</span>
            </h3>
          </div>

          <!-- 본문컨텐츠 영역 -->
          <div class="container">
          
          	                <div class="table table-responsive">
                    <table>
                        <tbody>
                        <tr style="padding-top: 20px">
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">아이디</span>
                            </th>
                            <td data-cell-header="아이디" class="txt-left">
                                <span id="cvl_id">sis6710</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">비밀번호</span>
                            </th>
                            <td data-cell-header="성명" class="txt-left">
                                <div class="input-wrap-three write-wrap-m"
                                     style="width: 162px; display: inline-block">
                                    <div class="input-wrap" style="width: 200px">
                                        <input name="cvl_nm" id="cvl_nm"
                                               value="*******" class="cm_inptxt"
                                               type="password"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">비밀번호 확인</span>
                            </th>
                            <td data-cell-header="성명" class="txt-left">
                                <div class="input-wrap-three write-wrap-m"
                                     style="width: 162px; display: inline-block">
                                    <div class="input-wrap" style="width: 200px">
                                        <input name="cvl_nm" id="cvl_nm"
                                               value="*******" class="cm_inptxt"
                                               type="password"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">성명</span>
                            </th>
                            <td data-cell-header="성명" class="txt-left">
                                <span id="cvl_id">ㅎㅎㅎ</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">생년월일</span>
                            </th>
                            <td data-cell-header="생년월일" class="txt-left">
                                <span id="cvl_id">19910101</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">직업</span>
                            </th>
                            <td data-cell-header="직업" class="txt-left">
                                <div class="input-wrap" style="width: 200px; display: inline-block">
                                    <input name="cvl_job" id="cvl_job"
                                           value="직업" class="cm_inptxt"
                                           type="text" maxlength="8"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span style="margin-left: 80px">휴대폰번호</span>
                            </th>
                            <td data-cell-header="휴대폰번호" class="txt-left">
                                <div class="input-wrap-three write-wrap-m"
                                     style="display: inline-block">
                                    <div class="input-wrap" style="width: 200px; display: inline-block">
                                        <input name="cvl_cel1" maxlength="4" id="cvl_cel1" value="01012345678"
                                               class="cm_inptxt" title="휴대폰번호"
                                               type="text" onkeydown="return num_only(event)"
                                               readonly/>
                                    </div>
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span style="margin-left: 80px">이메일</span>
                            </th>
                            <td data-cell-header="이메일" class="txt-left">
                                <div class="input-wrap" style="width: 268px; display: inline-block">
                                    <input name="cvl_mail" maxlength="70"
                                           id="cvl_mail" class="cm_inptxt"
                                           title="이메일 아이디" type="text" value="xxxx123@gmail.com"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="border-none txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">주소</span>
                            </th>
                            <td data-cell-header="주소" class="txt-left essential-responsive">
                                <input type="hidden" id="cvl_zip1" name="cvl_zip1" value=""/>
                                <input type="hidden" id="cvl_zip2" name="cvl_zip2" value=""/>
                                <div class="address-wrap write-wrap-m">
                                    <div class="address-btn-wrap">
                                        <div class="input-wrap">
                                            <input id="cvl_zip3" name="cvl_zip3"
                                                   class="cm_inptxt" value="" title="우편번호 앞자리" type="text"
                                                   readonly="readonly"/>
                                        </div>
                                        <button type="button" class="address-btn"
                                                onclick="javascript:jsZipCodeSearch_api('form1', 'cvl_zip1', 'cvl_zip2', 'cvl_zip3', 'cvl_addr1', 'cvl_addr2', 'member_road_code');"
                                                title="새창열림">우편번호 찾기
                                        </button>
                                    </div>
                                    <div class="input-wrap" style="width: 478px">
                                        <input name="cvl_addr1" id="cvl_addr1" maxlength="100"
                                               class="cm_inptxt" title="시군구주소 입력" type="text"
                                               value="" readonly="readonly"/>
                                    </div>
                                    <div class="input-wrap" style="width: 478px">
                                        <input name="cvl_addr2" id="cvl_addr2" maxlength="50"
                                               class="cm_inptxt" title="상세주소 입력"
                                               type="text" value="" placeholder="상세주소"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span style="margin-left: 80px">계좌번호</span>
                            </th>
                            <td data-cell-header="계좌번호" class="txt-left">
                                <div class="select-box" style="margin-bottom: 10px;">
                                    <label for="selectTit"></label>
                                    <select class="info-select" id="selectTit" 
                                            name="search_field" title="검색조건을 선택해주세요.">
                                        <option value="">은행목록</option>
                                        <option value="">은행목록1</option>
                                        <option value="">은행목록2</option>
                                        <option value="">은행목록3</option>
                                        <option value="">은행목록5</option>
                                    </select>
                                </div>
                                <div class="input-wrap-three write-wrap-m"
                                     style="display: inline-block">
                                    <div class="input-wrap" style="width: 320px; display: inline-block">
                                        <input name="cvl_cel1" maxlength="4" id="cvl_account1"
                                               value="" class="cm_inptxt"
                                               title="계좌번호" type="text"
                                               onkeydown="return num_only(event)" placeholder="계좌번호"/>
                                    </div>
                                    <div class="input-wrap"
                                         style="width: 150px; display: inline-block; margin-left: 5px">
                                        <input name="cvl_cel2" maxlength="4" id="cvl_account2"
                                               value="" class="cm_inptxt"
                                               title="예금주"
                                               type="text" onkeydown="return num_only(event)" placeholder="예금주"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
          
				<div class="btn-wrap txt-center">
					<a href="#" class="btn-style btn-style39 btn-style-icon-none">
						<span>취소</span>
					</a>
					<a href="#" class="btn-style btn-style39 btn-style-icon-none">
						<span>변경</span>
					</a>
				</div>
      
          </div>
          <!-- //본문컨텐츠 영역 -->
        </form>
      </article>
    </div>
    </div>
    <!-- //main_con  -->
  </div>

</th:block>
</html>
