<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">

  <div class="wrap">
    <!-- main_con  -->
    <div id="main_con">
      <div id="nav_menu">
        <div id="lnb">
          <h2 class="title">공지사항</h2>
          <div class="menu">
            <ul>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">모집공고</a>
                <ul class="sub" style="display: none;">
                  <li><a href="#">모집공고 등록</a></li>
                  <li><a href="#">모집공고 목록</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">공지사항</a>
                <ul class="sub" style="display: none;">
                  <li><a href="#">공지사항 등록</a></li>
                  <li><a href="#">공지사항 목록</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">FAQ</a>
                <ul class="sub" style="display: none;">
                  <li><a href="#">FAQ 등록</a></li>
                  <li><a href="#">FAQ 목록</a></li>
                </ul>
              </li>

            </ul>
          </div>

        </div>
      </div>
      <div id="contents">

          <style>
        @media screen and (max-width: 1024px) {
          .table-responsive > table > tbody > tr td[data-cell-header]:before {
            width: 30%;
            margin: 0 0 0 0;
            vertical-align: unset;
          }
        }
        .table-responsive > table > tbody > tr:hover {
          background-color: #e6f8ff;
        }
        @media screen and (min-width: 1100px) {
          #select-box-margin-left-10 {
            margin-left: 6px;
          }
        }
      </style>
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->


      <article id="detail-content">
        <form
          id="listForm"
          name="listForm"
          action="https://minwon.moel.go.kr/minwon2008/lc_minwon/lc_form_apply.do;jsessionid=zVSgTiA2kOkekcq6lILRPQYDHEBkkzAovCEt5qTCJdbe8CZTxX2pWaqJoS8XE3Kn.minwon-was_servlet_minwon2"
          method="post"
        >
          <input
            type="hidden"
            id="cd_appeal_form"
            name="cd_appeal_form"
            value="ALL"
          />
          <input type="hidden" id="srch_gubn" name="srch_gubn" value="" />
          <input
            type="hidden"
            id="srch_cd_appeal_form"
            name="srch_cd_appeal_form"
            value=""
          />
          <input
            type="hidden"
            id="search_capp_biz_cd"
            name="search_capp_biz_cd"
            value=""
          />
          <input type="hidden" id="cate_name" name="cate_name" value="" />
          <input
            type="hidden"
            id="sub_cate_name"
            name="sub_cate_name"
            value=""
          />
          <div class="heading-wrap container">
            <h3 class="heading1">
              <span>재판조력자 중지 / 중지해제 신청</span>
            </h3>
          </div>

          <!-- 본문컨텐츠 영역 -->
          <div class="container">
          
          
          
          
          </div>
          <!-- //본문컨텐츠 영역 -->
        </form>
      </article>
    </div>
    </div>
    <!-- //main_con  -->
  </div>

</th:block>
</html>
