@charset "UTF-8";

.btn-style.btn-style22 {
	width: 100%;
	height: 52px;
	line-height: 50px;
	background: #02478a;
	color: #fff;
	border-color: #02478a;
	font-size: 0.8rem;
	text-align: center;
	border-radius: 3px;
}

.btn-style {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 282px;
	height: 50px;
	margin: 0.25rem 0 0 0.25rem;
	padding: 0 2rem;
	line-height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #4e71d7;
	background: #4e71d7;
	overflow: hidden;
	font-size: 0.85rem;
	font-weight: 400;
	color: #fff;
	text-align: center;
	transition: color 0.3s, background 0.3s, border-color 0.3s;
}

a {
	color: inherit;
	text-decoration: none;
}

.btn-style:before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	transition: top 0.3s;
}

.btn-style.btn-style22:before {
	background: #fff;
}

/* 로그인 버튼 끝 */
.tab-wrap {
	overflow: hidden;
}

.tab-wrap .tab3 {
	display: block;
	table-layout: fixed;
	position: relative;
	margin: 1rem 0 0.5rem;
	padding-bottom: 3px;
	border-top: 2px solid #0062ad;
	border-bottom: 1px solid #c8d6e8;
	overflow: hidden;
}

.tab-wrap .tab {
	display: table;
	table-layout: fixed;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.tab-wrap .tab>li {
	display: table-cell;
	width: 1%;
	vertical-align: middle;
}

.tab-wrap .tab3>li>a {
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 0.9rem;
	color: #222;
	text-align: center;
	font-weight: 400;
}

/* 로그인 위에 탭 버튼 끝  */
.login-wrapper .box12 {
	overflow: hidden;
	margin-top: 0.5rem;
	padding: 1.5rem 9rem;
}

.box12 {
	padding: 3rem 3.25rem;
	background: #f6f6f6;
}

.login-wrapper .login-greeting {
	margin-bottom: 1.5rem;
	text-align: center;
	font-family: 'SCDream';
	font-weight: 500;
	color: #02478a;
	font-size: 1.5rem;
}

#tab-cont1 .btn-wrap222 {
	width: 550px;
	margin: auto;
}

.txt-left {
	text-align: left !important;
}

.btn_easy_on {
	border: 2px solid #02478a;
	color: #fff;
	background: #02478a url(../../img/korean/sub/easy_btn_on.png) no-repeat 5% 50%;
}

.btn_list {
	display: block;
	height: 52px;
	line-height: 50px;
	font-size: 18px;
	text-align: left;
	width: 80%;
	margin: 0 auto;
	padding-left: 10%;
	border-radius: 3px;
	margin-bottom: 5px;
}

.btn_joint_on {
	border: 2px solid #02478a;
	color: #fff;
	background: #02478a url(../../img/korean/sub/cavit_btn_on.png) no-repeat 5% 50%;
}

.btn_finan_on {
	border: 2px solid #02478a;
	color: #fff;
	background: #02478a url(../../img/korean/sub/fin_btn_on.png) no-repeat 5% 50%;
}

.login-wrapper .box12 {
	overflow: hidden;
	margin-top: 0.5rem;
	padding: 1.5rem 9rem;
}

.box12 {
	padding: 3rem 3.25rem;
	background: #f6f6f6;
}

#tab-cont2 .btn-wrap222 {
	width: 550px;
	margin: auto;
}

.btn_digital_on {
	border: 2px solid #02478a;
	color: #fff;
	background: #02478a url(../../img/korean/sub/digital_btn_on.png) no-repeat 5% 50%;
}

/* 아이디 로그인 */
.login-wrapper .box12 {
	overflow: hidden;
	margin-top: 0.5rem;
	padding: 1.5rem 9rem;
}

.box12 {
	padding: 3rem 3.25rem;
	background: #f6f6f6;
}

.login-wrapper .login-greeting {
	margin-bottom: 1.5rem;
	text-align: center;
	font-family: 'SCDream';
	font-weight: 500;
	color: #02478a;
	font-size: 1.5rem;
}

#tab-cont3 .login-lst-wrap {
	width: 350px;
	margin: auto;
}

ul,
ol,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tab-cont3 .login-lst-wrap>li {
	padding: 0;
}

.login-wrapper .login-lst-wrap>li {
	position: relative;
	padding: 0 2.25rem;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

form,
figure,
figcaption {
	padding: 0;
	margin: 0;
}

.login-wrapper .login-input-wrap .input-wrap {
	position: relative;
	height: 50px;
	border-radius: 3px;
	border: 1px solid #023668;
}

.input-wrap {
	height: 40px;
	background: #fff;
	border: 1px solid #cdcdcd;
}

.login-wrapper .login-input-wrap .input-wrap:before {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
	font-family: 'xeicon';
	color: #707070;
	font-size: 1rem;
	content: '\e9f5';
}

.login-wrapper .login-input-wrap .input-wrap input {
	padding-left: 3rem;
}

.input-wrap>input {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 0.5rem;
	border: 0;
}

.input-wrap>input {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	background: transparent;
}

.login-wrapper .login-input-wrap .input-wrap+.input-wrap:before {
	content: '\e966';
}

.login-wrapper .login-input-wrap .input-wrap+.input-wrap {
	margin-top: 0.25rem;
}

/* 로그인버튼 끝 */

.login-side-lst {
	overflow: hidden;
}

.login-side-lst>li {
	float: left;
	color: #505050;
	font-size: 0.7rem;
	width: 33.333%;
}

.login-side-lst>li:first-of-type>a {
	text-align: left;
}

.login-side-lst>li>a {
	position: relative;
	display: block;
	padding: 0.2rem 0;
	text-align: center;
}

.login-side-lst>li:last-of-type>a {
	text-align: right;
}

