<!DOCTYPE html>
<html>

<head>
</head>
<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">

	<!-- wrap start -->
	<div class="wrap">
		<!-- main_con start  -->
		<div id="main_con">
			<div id="nav_menu">
				<div id="lnb">
					<h2 class="title">공지사항</h2>
					<div class="menu">
						<ul>
							<li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">모집공고</a>
								<ul class="sub" style="display: none;">
									<li><a href="#">모집공고 등록</a></li>
									<li><a href="#">모집공고 목록</a></li>
								</ul>
							</li>
							<li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">공지사항</a>
								<ul class="sub" style="display: none;">
									<li ><a href="#">공지사항 등록</a></li>
									<li><a href="#">공지사항 목록</a></li>
								</ul>
							</li>
							<li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">FAQ</a>
								<ul class="sub" style="display: none;">
									<li><a href="#">FAQ 등록</a></li>
									<li><a href="#">FAQ 목록</a></li>
								</ul>
							</li>

						</ul>
					</div>

				</div>
			</div>
			<div id="contents">

				<style>
					@media screen and (max-width: 1024px) {
						.table-responsive>table>tbody>tr td[data-cell-header]:before {
							width: 30%;
							margin: 0 0 0 0;
							vertical-align: unset;
						}
					}

					.table-responsive>table>tbody>tr:hover {
						background-color: #e6f8ff;
					}

					@media screen and (min-width: 1100px) {
						#select-box-margin-left-10 {
							margin-left: 6px;
						}
					}
				</style>
				<article id="detail-content">
					<form id="listForm" name="listForm"
						action="https://minwon.moel.go.kr/minwon2008/lc_minwon/lc_form_apply.do;jsessionid=zVSgTiA2kOkekcq6lILRPQYDHEBkkzAovCEt5qTCJdbe8CZTxX2pWaqJoS8XE3Kn.minwon-was_servlet_minwon2"
						method="post">
						<input type="hidden" id="cd_appeal_form" name="cd_appeal_form" value="ALL" />
						<input type="hidden" id="srch_gubn" name="srch_gubn" value="" />
						<input type="hidden" id="srch_cd_appeal_form" name="srch_cd_appeal_form" value="" />
						<input type="hidden" id="search_capp_biz_cd" name="search_capp_biz_cd" value="" />
						<input type="hidden" id="cate_name" name="cate_name" value="" />
						<input type="hidden" id="sub_cate_name" name="sub_cate_name" value="" />
						<div class="heading-wrap container">
							<h3 class="heading1">
								<span>공지사항</span>
							</h3>
						</div>

						<!-- 본문컨텐츠 영역 start -->
						<div class="container">
							<div class="box box1">
								<p>공지사항 입니다 .<br />
									<!-- <a href="" class="blank-new"> -->
									<a class="blank-new" href="" title="정부24 새창열림" target="_blank">
									</a>
								</p>
							</div>
							<!-- searchform searchform2 start -->
							<div class="searchform searchform2">
								<div class="searchform-wrap">
									<div class="select-box">
										<label for="selectTit"></label>
										<select class="info-select" id="selectTit" name="search_field"
											title="검색조건을 선택해주세요.">
											<option value="0">전체</option>
											<option value="1">제목</option>
											<option value="2">내용</option>
										</select>
									</div>

									<div class="search-input-wrap">
										<div class="input-wrap">
											<input type="text" name="q_string" value=""
												onkeypress="if(window.event.keyCode == 13) srchMinwonDoc();"
												class="form-control" placeholder="검색어를 입력해주세요" title="검색어를 입력해주세요"
												id="q_string" />
										</div>
										<button type="button" class="search-btn" onclick="srchMinwonDoc()">
											<i class="xi-search"></i>
											<span class="sr-only">검색</span>
										</button>
									</div>

									<div class="select-box" id="select-box-margin-left-10">
										<label for="selectTit"></label>
										<select name="view_cnt" id="view_cnt" class="info-select" title="게시판 목록보기 갯수선택"
											style="min-width: 170px">
											<!-- onchange="chgViewCount(this.value);" -->
											<option value="10" selected=" selected">10개씩 보기</option>
											<option value="20">20개씩 보기</option>
											<option value="50">50개씩 보기</option>
										</select>
									</div>
								</div>
							</div>
							<!-- //searchform searchform2 end -->

							<!-- table-t-wrap start -->
							<div class="table-t-wrap">
								<div class="total-num">총 게시글 <em>[[${pageVO.total}]]</em>건</div>
							</div>
							<!-- //table-t-wrap end -->

							<!-- 게시판 시작 부분 start -->
							<div class="table table-responsive">
								<table>
									<caption>
										번호, 제목, 작성자, 등록일
									</caption>
									<colgroup>
										<col style="width: 20%" />
										<col style="width: 45%" />
										<col style="width: 20%" />
										<col style="width: 15%" />
									</colgroup>
									<thead>
										<tr>
											<th scope="col">번호</th>
											<th scope="col">제목</th>
											<th scope="col">작성자</th>
											<th scope="col">등록일</th>
										</tr>
									</thead>
									<tbody>
										<tr  th:each="vo, status : ${list}" style="cursor: pointer; color: red; font-weight: 800; background-color: rgb(219, 243, 255); "
											th:if="${vo.notice_title.startsWith('중요')}">
											<td style=" color: rgb(0, 0, 0); " data-cell-header="번호"></td>
											<td  style=" color: rgb(0, 0, 0); "data-cell-header="대분류"> <a th:href="@{/notice/noticeDetail(__${vo.notice_proper_num}__)}">[[${vo.notice_title}]]</a></td>
											<td data-cell-header="중분류">관리자번호: [[${vo.admin_proper_num}]]</td>
											<td data-cell-header="작성일자">[[${vo.notice_date}]]</td></tr>
										<tr th:each=" vo, status : ${list}" style="cursor: pointer">
											<td data-cell-header="번호">[[${status.count}]]</td>
											<td data-cell-header="대분류">  <a th:href="@{/notice/noticeDetail(__${vo.notice_proper_num}__)}">[[${vo.notice_title}]]</a></td>
											<td data-cell-header="중분류">관리자번호: [[${vo.admin_proper_num}]]</td>
											<td data-cell-header="작성일자">[[${vo.notice_date}]]</td>
										</tr>

									</tbody>
								</table>
							</div>
							<!-- 게시판 시작 부분 end -->

							<!-- pagenation -->
							<div class="pager">
								<div class="pager-wrap">
									<a href="#" class="arr first" title="처음으로"
										onclick="fn_egov_link_page(1); return false;"><strong class="sr-only">맨 처음 목록으로
											이동</strong></a><a href="#" class="arr prev" title="이전으로"
										onclick="fn_egov_link_page(1); return false;"><strong class="sr-only">이전페이지로
											이동</strong></a><a href="#" class="active" title="현재 선택된 페이지는 1 페이지 입니다."
										onclick="">1</a><a href="#" class=""
										onclick="fn_egov_link_page(2); return false;">2</a><a href="#" class=""
										onclick="fn_egov_link_page(3); return false;">3</a><a href="#" class=""
										onclick="fn_egov_link_page(4); return false;">4</a><a href="#" class=""
										onclick="fn_egov_link_page(5); return false;">5</a><a href="#" class=""
										onclick="fn_egov_link_page(6); return false;">6</a><a href="#" class=""
										onclick="fn_egov_link_page(7); return false;">7</a><a href="#" class=""
										onclick="fn_egov_link_page(8); return false;">8</a><a href="#" class=""
										onclick="fn_egov_link_page(9); return false;">9</a><a href="#" class=""
										onclick="fn_egov_link_page(10); return false;">10</a><a href="#"
										class="arr next" title="다음으로"
										onclick="fn_egov_link_page(11); return false;"><strong class="sr-only">다음페이지로
											이동</strong></a><a href="#" class="arr last" title="마지막으로"
										onclick="fn_egov_link_page(25); return false;"><strong class="sr-only">맨 마지막
											목록으로 이동</strong></a>

									<input id="pageIndex" name="pageIndex" type="hidden" value="1" />
									<input id="pageSize" name="pageSize" type="hidden" value="10" />
									<input id="pageUnit" name="pageUnit" type="hidden" value="10" />
									<input id="large_category_idx" name="large_category_idx" type="hidden" value="" />
									<input id="middle_category_idx" name="middle_category_idx" type="hidden" value="" />
									<input id="tot_middle_category_idx" name="tot_middle_category_idx" type="hidden"
										value="" />
									<input id="large_category_cd" name="large_category_cd" type="hidden" value="" />
									<input id="middle_category_cd" name="middle_category_cd" type="hidden" value="" />
								</div>
							</div>
							<!-- //pagenation end -->
						</div>
						<!-- //본문컨텐츠 영역 end -->
					</form>
				</article>
			</div>
		</div>
		<!-- //main_con end -->
	</div>
	<!-- wrap end -->
</th:block>

<script>


	function nociteDetail(notice_proper_num)	{
		location.href = '/notice/noticeDatail?notice_proper_num=' + notice_proper_num;
	}
	
	
	
	
</script>



</html>