<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="dark" style="color-scheme: dark;">


<th:block th:fragment="setContent(content)">

  <head>
    <title>재판조력자 공고</title>

    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />

    <!-- common css -->
    <link rel="stylesheet" type="text/css" href="../../css/korean/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/korean/layout.css" />
    <link rel="stylesheet" type="text/css" href="../../css/nav/common.css" />
    <!-- sub css 지우면 안됨  -->
    <link rel="stylesheet" type="text/css" href="../../css/korean/sub.css" />

    <!-- common lib js -->
    <script type="text/javascript" src="../../js/lib/jquery-2.2.4.min.js"></script>

    <!-- 분류버튼 효과 -->
    <script type="text/javascript" src="../../js/lib/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- public common js -->
    <script type="text/javascript" src="../../js/korean/common.js"></script>
    <script type="text/javascript" src="../../js/nav/custom.js"></script>
    <!-- sub js -->
    <script type="text/javascript" src="../../js/korean/sub.js"></script>

  </head>

  <body>

  <!-- header -->
  <header id="header">
    <div class="t-side">
      <div class="container">
        <ul class="t-side-right">
          <li>
            <a href="https://minwon.moel.go.kr/minwon2008/join/login_sso.do"
            >로그인</a
            >
          </li>
          <li>
            <a href="https://minwon.moel.go.kr/minwon2008/join/join_first.do"
            >회원가입</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="header-wrap">
      <h1 class="logo">
        <a
                href="https://minwon.moel.go.kr/minwon2008/index_new.do"
                class="logo-wrapper"
        ><span class="sr-only">여기어디가바뀜</span></a
        >
      </h1>
      <div class="nav-wrap">
        <nav id="nav">
          <div id="gnb">
            <div class="th1" style="float: left; width: 180px">
              <a href="#"><span>조력자등재신청</span></a>
              <ul class="depth2">
                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/info/part_list.do', num:'10100', num1:'10000', num2:'10100', num3:'', name:'분야별민원', name1:'민원정보', name2:'분야별민원', name3:''})"
                  ><span>조력자메뉴1</span></a
                  >
                </li>

                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/lc_minwon/lc_form_apply_TM.do', num:'10200', num1:'10000', num2:'10200', num3:'', name:'대상자별민원', name1:'민원정보', name2:'대상자별민원', name3:''})"
                  ><span>조력자메뉴2</span></a
                  >
                </li>

                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/company/company_minwon_02.do', num:'10300', num1:'10000', num2:'10300', num3:'', name:'기업보고서식', name1:'민원정보', name2:'기업보고서식', name3:''})"
                  ><span>조력자메뉴3</span></a
                  >
                </li>
              </ul>
            </div>
            <div class="th1 active" style="float: left; width: 180px">
              <a href="#"><span>조력자신청안내</span></a>
              <ul class="depth2">
                <li class="th2 active">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/lc_minwon/lc_form_apply.do', num:'20100', num1:'20000', num2:'20100', num3:'', name:'서식민원', name1:'민원신청', name2:'서식민원', name3:''})"
                  ><span>신청안내메뉴1</span></a
                  >
                </li>

                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/lc_minwon/lc_qna_apply_apply.do', num:'20200', num1:'20000', num2:'20200', num3:'', name:'질의민원', name1:'민원신청', name2:'질의민원', name3:''})"
                  ><span>신청안내메뉴2</span></a
                  >
                </li>

                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/petition/petition_list.do', num:'20300', num1:'20000', num2:'20300', num3:'20301', name:'신고센터', name1:'민원신청', name2:'신고센터', name3:'고용노동부 직원 불친절신고'})"
                  ><span>신청안내메뉴3</span></a
                  >
                </li>

                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/lc_minwon/lc_quick_internet_list.do', num:'20400', num1:'20000', num2:'20400', num3:'', name:'빠른인터넷상담', name1:'민원신청', name2:'빠른인터넷상담', name3:''})"
                  ><span>신청안내메뉴4</span></a
                  >
                </li>
              </ul>
            </div>
            <div class="th1" style="float: left; width: 180px">
              <a href="#"><span>모집공고/공지</span></a>
              <ul class="depth2">
                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/my/my_minwon_list.do', num:'30100', num1:'30000', num2:'30100', num3:'30101', name:'나의 민원', name1:'민원확인', name2:'나의 민원', name3:'서식민원조회'})"
                  ><span>Mypage메뉴1</span></a
                  >
                </li>

                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/my/lc_print_guide.do', num:'30200', num1:'30000', num2:'30200', num3:'', name:'인터넷발급확인', name1:'민원확인', name2:'인터넷발급확인', name3:''})"
                  ><span>Mypage메뉴2</span></a
                  >
                </li>
              </ul>
            </div>
            <div class="th1" style="float: left; width: 180px">
              <a href="#"><span>마이페이지</span></a>
              <ul class="depth2">
                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/info/use_info_A.do', num:'40100', num1:'40000', num2:'40100', num3:'', name:'민원신청방법', name1:'이용안내', name2:'민원신청방법', name3:''})"
                  ><span>공지사항메뉴1</span></a
                  >
                </li>

                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/info/use_info_B.do', num:'40200', num1:'40000', num2:'40200', num3:'40201', name:'민원마당따라하기', name1:'이용안내', name2:'민원마당따라하기', name3:'민원신청'})"
                  ><span>공지사항메뉴2</span></a
                  >
                </li>

                <li class="th2">
                  <a
                          href="javascript:goNaviMenuUrl({url:'/minwon2008/info/use_info_D.do', num:'40400', num1:'40000', num2:'40400', num3:'', name:'보안프로그램설치안내', name1:'이용안내', name2:'보안프로그램설치안내', name3:''})"
                  ><span>공지사항메뉴3</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="gnb-bg-wrap gnb-bg-wrap1">
      <div class="gnb-bg-deco">
        <div class="txt">
          <strong>조력자등재신청</strong>
          <span>조력자신청 안내글 들어갈 곳.</span>
        </div>
      </div>
    </div>
    <div class="gnb-bg-wrap gnb-bg-wrap2">
      <div class="gnb-bg-deco">
        <div class="txt">
          <strong>조력자신청안내</strong>
          <span>조력자신청 안내 글 들어갈 곳.</span>
        </div>
      </div>
    </div>
    <div class="gnb-bg-wrap gnb-bg-wrap3">
      <div class="gnb-bg-deco">
        <div class="txt">
          <strong>MyPage</strong>
          <span>나의 정보를 수정 어쩌고 저쩌고.</span>
        </div>
      </div>
    </div>
    <div class="gnb-bg-wrap gnb-bg-wrap4">
      <div class="gnb-bg-deco">
        <div class="txt">
          <strong>공지사항</strong>
          <span>공지,FAQ, 기타 설명 입력할 곳.</span>
        </div>
      </div>
    </div>
  </header>
  <!-- //header -->

  <!-- main_con  -->
  <main th:replace="${content}"></main>
  <!-- //main_con  -->

  <footer id="footer">
    <div class="footer">
      <div class="container">
        <div class="f-logo">
          <span class="sr-only">재판조력자선발</span>
        </div>

        <div class="f-txt">
          <ul class="util-lst">
            <li>
              <a
                      href="https://www.scourt.go.kr/scourt/index.html"
              >대한민국 법원 홈페이지</a
              >
            </li>

            <li style="color: #fbd898">
              <a
                      href="http://www.moel.go.kr/site/protect/protectList.do"
                      target="_blank"
                      title="새창"
              >개인정보처리방침</a
              >
            </li>

            <li>
              <a
                      href="https://minwon.moel.go.kr/minwon2008/use/join_agreement.do"
              >이용약관</a
              >
            </li>

            <li>
              <a
                      href="http://www.moel.go.kr/site/copyright/copyrightList.do"
                      target="_blank"
                      title="새창"
              >저작권정책</a
              >
            </li>

            <li>
              <a href="#" onclick="emailPop(); return false;" id="layer4Focus"
              >이메일무단수집거부</a
              >
            </li>
          </ul>

          <div class="address">
              <span
              >서울특별시 강남구 테헤란로 7길 7 재판조력자 서비스센터</span
              >

            <a href="#" onclick="phonePop(); return false;" id="layer3Focus"
            >문의전화 연락처 안내</a
            >
          </div>

          <div class="copyright">
            Copyright(c)Ministry of Employment and Labor. All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- </div> -->
  </body>

</th:block>
</html>