<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{../css/fcltt/fcltt.css}" />
	<script th:src="@{../js/fcltt/fcltt.js}"></script>
</head>


<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">

	<div class="wrap">
		<div id="main_con">

			<div id="contents" style="width: 70%; float: none; margin: 0 auto; padding-left: 120px;">
				<div class="heading-wrap container">
					<h3 class="heading1">
						<span style="margin-bottom: 20px;">회원가입</span>
					</h3>

					<div class="table table-responsive">
						<table>
							<caption>
								재판조력자등재
							</caption>

							<colgroup>
								<col style="width: 30%">
								<col style="width: 70%">
							</colgroup>
							<tbody>

								<tr>
									<th scope="row" class="txt-left">
										<span class="txt-left" title="">이름</span>
									</th>
									<td class="txt-left">
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="txt-left" title="">아이디</span>
									</th>
									<td class="txt-left">
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="txt-left" title="">비밀번호</span>
									</th>
									<td class="txt-left">
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="txt-left" title="">비밀번호확인</span>
									</th>
									<td class="txt-left">
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="txt-left" title=""></span>주민번호</span>
									</th>
									<td data-cell-header="성명" class="txt-left">
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span>휴대폰번호</span>
									</th>
									<td data-cell-header="휴대폰번호" class="txt-left">
										<div class="fcltt_phone" style="display: inline-block">
											<div class="fcltt_phone">
												<input name="fcltt_phone" maxlength="4" id="cvl_cel1" value="010"
													class="cm_inptxt" title="휴대폰번호 앞자리" type="text"
													onkeydown="return num_only(event)" readonly="" />

												<em class="fcltt_comment">&nbsp; '-'을 제외한 숫자만 기입</em>
											</div>
										</div>


									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left"> 
										<span class="essential-txt" title="">이메일</span>
									</th>

									<td class="txt-left">
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
										<span>@</span>
										<select name="" id="" class="cm_inptxt fclttCategory">
											<option value="">직접입력</option>
											<option value="">naver.com</option>
											<option value="">hanmail.net</option>
											<option value="">gmail.com</option>
											<option value="">daum.net</option>
										</select>
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span>주소</span>
									</th>
									<td class="txt-left">
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
										<a class="fclttStatus1" style="width: 100px;"><em>우편번호찾기</em></a>
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span>상세주소</span>
									</th>
									<td class="txt-left">
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="txt-left" title=""></span>직업</span>
									</th>
									<td data-cell-header="성명" class="txt-left">
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="txt-left" title=""></span>은행명</span>
									</th>
									<td class="txt-left">
										<select name="" id="" class="cm_inptxt fclttCategory">
											<option value="">은행명</option>
											<option value="">naver.com</option>
											<option value="">gmail.com</option>
											<option value="">daum.net</option>
										</select>
										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="txt-left" title=""></span>예금주</span>
									</th>
									<td class="txt-left">

										<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
									</td>
								</tr>

							</tbody>
						</table>

					</div>
					<div class="fclttRegist_btn">
						<button type="button" class="fcltt_btn1">등록</button>
						<button type="button" class="fcltt_btn2">취소</button>
					</div>


				</div>



			</div>

		</div>

	</div>
</th:block>




</html>