<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{../../css/app/info.css}" />
</head>


<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">

	<div class="wrap">
		<div id="main_con">

			<div id="contents" style="width: 70%; float: none; margin: 0 auto; padding-left: 120px;">
				<div class="heading-wrap container">
					<h3 class="heading1">
						<span style="margin-bottom: 20px;">회원가입</span>
					</h3>

					<div class="table table-responsive">
						<table>
							<tbody>
								<tr style="padding-top: 20px">
									<th scope="row" class="txt-left">
										<span class="essential-txt" title="필수항목" style="margin-left: 80px">아이디</span>
									</th>
									<td data-cell-header="아이디" class="txt-left">
										<div class="address-wrap write-wrap-m">
											<div class="address-btn-wrap">
												<div class="input-wrap">
													<input id="postcode" name="postAddr" class="cm_inptxt" value=""
														title="우편번호 앞자리" type="text" />
												</div>
												<button type="button" class="address-btn" onclick="execDaumPostcode()"
													title="새창열림"> 아이디 중복확인
												</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="essential-txt" title="필수항목" style="margin-left: 80px">성명</span>
									</th>
									<td data-cell-header="성명" class="txt-left">
										<div class="input-wrap-three write-wrap-m"
											style="width: 162px; display: inline-block">
											<div class="input-wrap" style="width: 200px">
												<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt"
													type="text" />
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="essential-txt" title="필수항목" style="margin-left: 80px">비밀번호</span>
									</th>
									<td data-cell-header="성명" class="txt-left">
										<div class="input-wrap-three write-wrap-m"
											style="width: 162px; display: inline-block">
											<div class="input-wrap" style="width: 200px">
												<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt"
													type="text" />
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="essential-txt" title="필수항목" style="margin-left: 80px">비밀번호확인</span>
									</th>
									<td data-cell-header="성명" class="txt-left">
										<div class="input-wrap-three write-wrap-m"
											style="width: 162px; display: inline-block">
											<div class="input-wrap" style="width: 200px">
												<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt"
													type="text" />
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="essential-txt" title="필수항목" style="margin-left: 80px">주민등록번호</span>
									</th>
									<td data-cell-header="성명" class="txt-left">
										<div class="input-wrap-three write-wrap-m"
											style="width: 162px; display: inline-block">
											<div class="input-wrap" style="width: 200px">
												<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt"
													type="text" />
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="essential-txt" title="필수항목" style="margin-left: 80px">생년월일</span>
									</th>
									<td data-cell-header="생년월일" class="txt-left">
										<div class="input-wrap" style="width: 200px; display: inline-block">
											<input name="cvl_birth" id="cvl_birth" value="" class="cm_inptxt"
												type="text" maxlength="8" onkeydown="return num_only(event)" />
										</div>
										<span class="txt_noti" style="margin-left: 5px">※ 예) 19800102</span>
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="essential-txt" title="필수항목" style="margin-left: 80px">직업</span>
									</th>
									<td data-cell-header="직업" class="txt-left">
										<div class="input-wrap" style="width: 200px; display: inline-block">
											<input name="cvl_job" id="cvl_job" value="" class="cm_inptxt" type="text"
												maxlength="8" />
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span style="margin-left: 80px">휴대폰번호</span>
									</th>
									<td data-cell-header="직업" class="txt-left">
										<div class="input-wrap" style="width: 200px; display: inline-block">
											<input name="cvl_job" id="cvl_job" value="" placeholder="01022221111"
												class="cm_inptxt" type="text" maxlength="8" />
										</div>
										<em class="fcltt_comment">&nbsp; '-' 을 제외한 숫자만 기입</em>
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span class="essential-txt" title="" style="margin-left: 80px">이메일</span>
									</th>
									<td class="txt-left">
										<div class="input-wrap" style="width: 200px; display: inline-block">
											<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
										</div>
										<span>@</span>
										<div class="select-box" style="padding: 10px;">
											<select name="" id="" class="info-select" >
												<option value="">직접입력</option>
												<option value="">naver.com</option>
												<option value="">hanmail.net</option>
												<option value="">gmail.com</option>
												<option value="">daum.net</option>
											</select>
										</div>
										<div class="input-wrap" style="width: 200px; display: inline-block">
											<input name="cvl_nm" id="cvl_nm" value="" class="cm_inptxt" type="text">
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="border-none txt-left">
										<span class="essential-txt" title="필수항목" style="margin-left: 80px">주소</span>
									</th>
									<td data-cell-header="주소" class="txt-left essential-responsive">
										<input type="hidden" id="cvl_zip1" name="cvl_zip1" value="" />
										<input type="hidden" id="cvl_zip2" name="cvl_zip2" value="" />
										<div class="address-wrap write-wrap-m">
											<div class="address-btn-wrap">
												<div class="input-wrap">
													<input id="postcode" name="postAddr" class="cm_inptxt" value=""
														title="우편번호 앞자리" type="text" readonly="readonly" />
												</div>
												<button type="button" class="address-btn" onclick="execDaumPostcode()"
													title="새창열림">우편번호 찾기
												</button>
											</div>
											<div class="input-wrap" style="width: 478px">
												<input name="addr1" id="addr1" maxlength="100" class="cm_inptxt"
													title="시군구주소 입력" type="text" value="" readonly="readonly" />
											</div>
											<div class="input-wrap" style="width: 478px">
												<input name="addr2" id="addr2" maxlength="50" class="cm_inptxt"
													title="상세주소 입력" type="text" value="" placeholder="상세주소" />
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row" class="txt-left">
										<span style="margin-left: 80px">계좌번호</span>
									</th>
									<td data-cell-header="계좌번호" class="txt-left">
										<div style="overflow: hidden; width: 500px">
											<div class="select-box" style="margin-bottom: 10px; float: left">
												<label for="selectBank"></label>
												<select class="info-select" id="selectBank" name="search_field"
													title="검색조건을 선택해주세요.">
													<option value="">은행목록</option>
													<option value="kb">국민은행</option>
													<option value="ibk">기업은행</option>
													<option value="nh">농협은행</option>
													<option value="sh">신한은행</option>
													<option value="wr">우리은행</option>
													<option value="hn">하나은행</option>
													<option value="sc">SC제일은행</option>
												</select>
											</div>
											<div class="selectedBank" style="float: left">
												<img src="#" alt="" id="bankIcon">
												<p style="float:right;" class="selBank"></p>
											</div>
										</div>
										<div class="input-wrap-three write-wrap-m">
											<div class="input-wrap" style="width: 320px; display: inline-block">
												<input name="cvl_cel1" maxlength="4" id="cvl_account1" value=""
													class="cm_inptxt" title="계좌번호" type="text"
													onkeydown="return num_only(event)" placeholder="계좌번호" />
											</div>
											<div class="input-wrap"
												style="width: 150px; display: inline-block; margin-left: 5px">
												<input name="cvl_cel2" maxlength="4" id="cvl_account2" value=""
													class="cm_inptxt" title="예금주" type="text"
													onkeydown="return num_only(event)" placeholder="예금주" />
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="btn-holder">
						<button class="btn btn-2 hover-opacity prev_btn"> <!-- onclick="location.href='/app/start'" -->
							<span>가입</span>
						</button>
						<button class="btn btn-2 hover-opacity next_btn">
							<span>취소</span>
						</button>
					</div>


				</div>



			</div>

		</div>

	</div>
</th:block>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	function execDaumPostcode() {
		new daum.Postcode({
			oncomplete: function (data) {
				// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

				// 각 주소의 노출 규칙에 따라 주소를 조합한다.
				// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
				var addr = ''; // 주소 변수

				//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
				if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
					addr = data.roadAddress;
				} else { // 사용자가 지번 주소를 선택했을 경우(J)
					addr = data.jibunAddress;
				}

				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				document.getElementById('postcode').value = data.zonecode;
				document.getElementById("addr1").value = addr;
				// 커서를 상세주소 필드로 이동한다.
				document.getElementById("addr2").focus();
			}
		}).open();
	}
	//은행정보 확인
	$("#selectBank").change(function () {
		let selected = $("#selectBank option:selected").val();
		if (selected == 'kb') {
			$("#bankIcon").attr("src", "/img/app/kbIcon.png");
			$(".selBank").html('국민은행');
		} else if (selected == 'ibk') {
			$("#bankIcon").attr("src", "/img/app/ibkIcon.png");
			$(".selBank").html('기업은행');
		} else if (selected == 'nh') {
			$("#bankIcon").attr("src", "/img/app/nhIcon.png");
			$(".selBank").html('농협은행');
		} else if (selected == 'sh') {
			$("#bankIcon").attr("src", "/img/app/shIcon.png");
			$(".selBank").html('신한은행');
		} else if (selected == 'wr') {
			$("#bankIcon").attr("src", "/img/app/wrIcon.png");
			$(".selBank").html('우리은행');
		} else if (selected == 'hn') {
			$("#bankIcon").attr("src", "/img/app/hnIcon.png");
			$(".selBank").html('하나은행');
		} else if (selected == 'sc') {
			$("#bankIcon").attr("src", "/img/app/scIcon.png");
			$(".selBank").html('SC제일은행');
		} else {
			$("#bankIcon").attr("src", "#");
			$(".selBank").html('');
		}

	});
</script>





</html>