<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>
<link rel="stylesheet" th:href="@{../css/faq/faq.css}" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer th:src="@{../js/faq/faq.js}"></script>

</head>

<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap2})}">

	<div class="wrap2">
		<!-- main_con  -->
		<div id="main_con">
			<div id="nav_menu">
				<div id="lnb">
					<h2 class="title">공지사항</h2>
					<div class="menu">
						<ul>
							<li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">모집공고</a>
								<ul class="sub" style="display: none;">
									<li><a href="#">모집공고 등록</a></li>
									<li><a href="#">모집공고 목록</a></li>
								</ul>
							</li>
							<li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">공지사항</a>
								<ul class="sub" style="display: none;">
									<li><a href="#">공지사항 등록</a></li>
									<li><a href="#">공지사항 목록</a></li>
								</ul>
							</li>
							<li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">FAQ</a>
								<ul class="sub" style="display: none;">
									<li><a href="#">FAQ 등록</a></li>
									<li><a href="#">FAQ 목록</a></li>
								</ul>
							</li>

						</ul>
					</div>

				</div>
			</div>
			<div id="contents">

				<style>
					@media screen and (max-width: 1024px) {
						.table-responsive>table>tbody>tr td[data-cell-header]:before {
							width: 30%;
							margin: 0 0 0 0;
							vertical-align: unset;
						}
					}

					.table-responsive>table>tbody>tr:hover {
						background-color: #e6f8ff;
					}

					@media screen and (min-width: 1100px) {
						#select-box-margin-left-10 {
							margin-left: 6px;
						}
					}
				</style>

				<div id="wrap" style="padding:0 50px">
					<div class="contents intro" id="container_id">
						<h3 style="color: #2065c6;">자주 하는 질문(FAQ)</h3>
						<div class="group">
							<!-- 검색영역 -->
							<form id="srchForm" name="srchForm" action="" method="get">
								<fieldset>
									<div class="controls mt10 reset_form">
										<div>
											<div class="box">
												<select id="srchTycd" title="검색어 조건 선택" name="searchContent"
													style="height: 40px; width: 140px;">
													<option value="searchAll">제목+내용</option>
													<option value="searchFaq_ask_content">제목</option>
													<option value="searchFaq_ask_comment">내용</option>
												</select>
												<input type="search" id="srchKwrd" name="searchContent2" title="검색어 입력"
													placeholder="검색어를 입력하세요" style="height: 40px; width: 370px;" />
											</div>
										</div>
										<div class="btn">
											<button type="button" class="btn_small bg_blue"
												style="text-decoration: none;" onclick="faqSearchBtn()">검색</button>
											<button type="reset" class="btn_small white_line" onclick="faqSearchBtn2()"
												style="text-decoration: none;">초기화</button>
										</div>
									</div>
									<div class="flex">
										<h4 class="twins_dot">검색 결과 <span>(총 <strong
													class="color_orange"></strong>건)</span></h4>
										<div class="box only_pc">
											<select id="pageUnit" name="pageUnit" title="목록에 노출되는 개수 선택"
												style="height: 40px;">
												<option value="10">10개씩 보기</option>
												<option value="15">15개씩 보기</option>
												<option value="20">20개씩 보기</option>
											</select>
										</div>
									</div>
								</fieldset>

							</form>
							<!-- 검색영역 -->

							<ul id="faqAccordion" class="accordion">

							</ul>
							<!-- 검색결과d -->

							<!-- pagination -->
							<div class="pager">

							</div><!-- //group -->
						</div>

					</div>


				</div>
			</div>
			<!-- //main_con  -->
		</div>

</th:block>

<script th:inline="javascript">
	var zz = '[[${div}]]';
		console.log(zz+'[[${div}]]');
		
	$(document).ready(function () {
		faqList(1, 10, $("#srchTycd").val(), $("#srchKwrd").val());

		
	});



	// 페이징
	$(".pager").on('click', 'a', function (e) {
		e.preventDefault();
		var pageAction = $(this).data('page-action');
		var pageUnit = $("#pageUnit").val();
		var srchTycd = $("#srchTycd").val();
		var srchKwrd = $("#srchKwrd").val();


		var currentPage = ($(".pager a.active").text());
		if (pageAction === 1) {
			// 맨 처음 페이지로 이동하는 동작 수행
			faqList(1, pageUnit, srchTycd, srchKwrd);
		} else if (pageAction === 'prev') {
			// 이전 페이지로 이동하는 동작 수행
			var currentPage = ($(".pager a.active").text());
			if (currentPage > 1) {
				faqList(currentPage - 1, pageUnit, srchTycd, srchKwrd);
			}
		} else if (pageAction === 'next') {
			// 다음 페이지로 이동하는 동작 수행
			var currentPage = ($(".pager a.active").text());
			if (currentPage < totalPages) {
				faqList(currentPage + 1, pageUnit, srchTycd, srchKwrd);
			}
		} else if (pageAction === 'last') {
			var totalPages = parseInt($(".pager a:last").prev().text()); // 맨 마지막 페이지 번호
			faqList(totalPages, pageUnit, srchTycd, srchKwrd);
		} else {
			// 페이지 번호를 클릭한 경우
			var pageNumber = $(this).text();
			// 페이지 번호를 사용하여 데이터를 불러오는 동작 수행
			faqList(pageNumber, pageUnit, srchTycd, srchKwrd);
		}
	});

	$("#pageUnit").change(function () {
		var pageUnit = $(this).val();
		faqList(1, $("#pageUnit").val(), $("#srchTycd").val(), $("#srchKwrd").val());
	});


	// 검색기능 함수
	function faqSearchBtn() {
		var pageUnit = $("#pageUnit").val();
		var srchTycd = $("#srchTycd").val();
		var srchKwrd = $("#srchKwrd").val();
		faqList(1, pageUnit, srchTycd, srchKwrd);
	}
	// enter키로 조회 버튼 
	$("#srchKwrd").on("keydown", function (event) {
		if (event.key === "Enter") {
			event.preventDefault(); // 폼의 기본 동작을 막음
			var pageUnit = $("#pageUnit").val();
			var srchTycd = $("#srchTycd").val();
			var srchKwrd = $("#srchKwrd").val();
			faqList(1, pageUnit, srchTycd, srchKwrd);
		}
	});

	//검색된것 초기화 하기
	function faqSearchBtn2() {
		var pageUnit = $("#pageUnit").val();
		var srchTycd = $("#srchTycd").val();
		var srchKwrd = $("#srchKwrd").val();
		faqList(1, pageUnit, '', '');
	}

</script>

</html>