#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgb(14 12 12 / 16%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: none;
    z-index: 2;
}
#modal .modal-window {
    background:white;
    box-shadow: 5px 5px 25px 0 #777;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 500px;
    height: 450px;
    position: absolute;
    top: 20%;
    left: 40%;
    padding: 10px;
    z-index: 2;
}
#modal .title {
    padding-left: 10px;
    display: inline;
}
#modal .title h3 {
    display: inline;
}
#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
}
        
#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
}