<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{../../css/app/info.css}"/>
<!--<script th:src="@{../../js/app/info.js}"></script>-->

<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">

    <div class="wrap">
        <div id="main_con">
            <div id="nav_menu">
                <div id="lnb">
                    <h2 class="title">조력자등재신청</h2>
                    <div class="menu">
                        <ul>
                            <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">조력자 등재신청</a>
                            </li>
                            <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">조력자 등재명단</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <div id="contents">
                <div class="heading-wrap container">
                    <h3 class="heading1">
                        <span>재판조력자 등재신청</span>
                    </h3>
                </div>

                <div id="crumbs">
                    <ul>
                        <li><a href="#1" class="highlight">기본정보</a></li>
                        <li><a href="../app/career">경력상세</a></li>
                        <li><a href="../app/edu">학력상세</a></li>
                        <li><a href="../app/file">서류제출</a></li>
                    </ul>
                </div>
                <div style="margin-top: 40px">
                    <span class="sub_title">신청 정보</span>
                </div>
                <div class="table table-responsive">
                    <table>
                        <tbody>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span style="margin-left: 80px">재판조력자 구분</span>
                            </th>
                            <td data-cell-header="재판조력자" class="txt-left">
                                <div class="select-box">
                                    <label for="selectType1"></label>
                                    <select class="info-select" id="selectType1"
                                            name="search_field" title="검색조건을 선택해주세요.">
                                        <option value="">구분1</option>
                                        <option value="">구분2</option>
                                        <option value="">구분3</option>
                                        <option value="">구분4</option>
                                        <option value="">구분5</option>
                                    </select>
                                </div>
                                <div class="select-box">
                                    <label for="selectType2"></label>
                                    <select class="info-select" id="selectType2"
                                            name="search_field" title="검색조건을 선택해주세요.">
                                        <option value="">중분류1</option>
                                        <option value="">중분류2</option>
                                        <option value="">중분류3</option>
                                        <option value="">중분류4</option>
                                        <option value="">중분류5</option>
                                    </select>
                                </div>
                                <div class="select-box">
                                    <label for="selectType3"></label>
                                    <select class="info-select" id="selectType3"
                                            name="search_field" title="검색조건을 선택해주세요.">
                                        <option value="">소분류1</option>
                                        <option value="">소분류2</option>
                                        <option value="">소분류3</option>
                                        <option value="">소분류4</option>
                                        <option value="">소분류5</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">희망법원 선택</span>
                            </th>
                            <td data-cell-header="희망법원" class="txt-left">
                                <ul class="ullistscourt">
                                    <li>
                                        <!-- 법원목록 start-->
                                        <div class="scourtlistbox">
                                            <p class="title">법원목록</p>
                                            <div class="select-box" style="margin: 7px 0 3px 0; width: 200px">
                                                <label for="selectRegion"></label>
                                                <select class="info-select" id="selectRegion"
                                                        name="search_region">
                                                    <option value="전체">전체</option>
                                                    <option value="서울">서울</option>
                                                    <option value="인천/경기">인천/경기</option>
                                                    <option value="강원">강원</option>
                                                    <option value="충북">충북</option>
                                                    <option value="대전/충남">대전/충남</option>
                                                    <option value="대구/경북">대구/경북</option>
                                                    <option value="부산/울산/경남">부산/울산/경남</option>
                                                    <option value="광주/전북/전남">광주/전북/전남</option>
                                                    <option value="제주">제주</option>
                                                </select>
                                            </div>
                                            <select multiple="" name="from_bub_cd" id="from_bub_cd" class="listscourt"
                                                    size="20" title="법원목록">
                                                <option th:each="cvo : ${clist}" th:class="${cvo.court_region}">[[${cvo.court_name}]]</option>

                                            </select>
                                        </div>
                                        <!-- 법원목록 end-->
                                    </li>
                                    <li class="center">
                                        <span class="btnin"><a onclick="javascript:addCourt()";>▶</a></span><br>
                                        <span class="btnin mart10" style="margin-top: 5px"><a onclick="javascript:removeCourt()">◀</a></span>
                                    </li>

                                    <li>
                                        <!-- 선택목록 start-->
                                        <div class="scourtlistbox">
                                            <p class="title">희망법원</p>
                                            <select multiple="" name="wish_bub_cd" id="wish_bub_cd" class="listscourt2"
                                                    size="20" title="희망법원">
                                            </select>
                                        </div>
                                        <!-- 선택목록 end-->
                                    </li>
                                </ul>
                                <div>
                                <span class="ex"><label id="lblWishText">* 희망법원은 2개까지 신청 가능하며 1지망, 2지망 순서입니다.</label></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 40px">
                    <span class="sub_title">기본 정보</span>
                </div>
                <div class="table table-responsive">
                    <table>
                        <tbody>
                        <tr style="padding-top: 20px">
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">아이디</span>
                            </th>
                            <td data-cell-header="아이디" class="txt-left">
                                <div class="input-wrap-three write-wrap-m"
                                     style="width: 162px; display: inline-block">
                                    <div class="input-wrap" style="width: 200px">
                                        <input name="cvl_nm" th:value="${vo.user_id}" class="cm_inptxt" type="text"
                                               readonly="readonly"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">성명</span>
                            </th>
                            <td data-cell-header="성명" class="txt-left">
                                <div class="input-wrap-three write-wrap-m"
                                     style="width: 162px; display: inline-block">
                                    <div class="input-wrap" style="width: 200px">
                                        <input name="cvl_nm" id="cvl_nm"
                                               th:value="${vo.user_name}" class="cm_inptxt"
                                               type="text" readonly="readonly"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">생년월일</span>
                            </th>
                            <td data-cell-header="생년월일" class="txt-left">
                                <div class="input-wrap" style="width: 200px; display: inline-block">
                                    <input name="cvl_birth" id="cvl_birth"
                                           th:value="${vo.user_age}" class="cm_inptxt"
                                           type="text" maxlength="8"
                                           onkeydown="return num_only(event)" readonly="readonly"/>
                                </div>
                                <span class="txt_noti" style="margin-left: 5px">※ 주민번호 앞 6자리 기입, 예) 950102</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">직업</span>
                            </th>
                            <td data-cell-header="직업" class="txt-left">
                                <div class="input-wrap" style="width: 200px; display: inline-block">
                                    <input name="cvl_job" id="cvl_job"
                                           th:value="${vo.user_job == null? '': vo.user_job}" class="cm_inptxt"
                                           type="text" maxlength="8"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span style="margin-left: 80px">휴대폰번호</span>
                            </th>
                            <td data-cell-header="직업" class="txt-left">
                                <div class="input-wrap" style="width: 200px; display: inline-block">
                                    <input name="cvl_job" id="cvl_phone" th:value="${vo.user_phone}"
                                           class="cm_inptxt" type="text" maxlength="8"/>
                                </div>
                                <em class="fcltt_comment">&nbsp; '-' 을 제외한 숫자만 기입</em>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span class="essential-txt" title="" style="margin-left: 80px">이메일</span>
                            </th>
                            <td class="txt-left">
                                <div class="input-wrap" style="width: 200px; display: inline-block">
                                    <input name="cvl_nm" id="cvl_mail" value="" class="cm_inptxt" type="text">
                                </div>
                                <span style="margin: 7px">@</span>
                                <div class="input-wrap" style="width: 200px; display: inline-block">
                                    <input name="cvl_nm" id="cvl_mail2" value="" class="cm_inptxt" type="text">
                                </div>
                                <div class="select-box" style="padding: 9px;">
                                    <select name="" id="mailAddr" class="info-select">
                                        <option value="">직접입력</option>
                                        <option value="naver">naver.com</option>
                                        <option value="hanmail">hanmail.net</option>
                                        <option value="gmail">gmail.com</option>
                                        <option value="daum">daum.net</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="border-none txt-left">
                                <span class="essential-txt" title="필수항목" style="margin-left: 80px">주소</span>
                            </th>
                            <td data-cell-header="주소" class="txt-left essential-responsive">
                                <input type="hidden" id="cvl_zip1" name="cvl_zip1" value=""/>
                                <input type="hidden" id="cvl_zip2" name="cvl_zip2" value=""/>
                                <div class="address-wrap write-wrap-m">
                                    <div class="address-btn-wrap">
                                        <div class="input-wrap">
                                            <input id="postcode" name="postAddr"
                                                   class="cm_inptxt" th:value="${vo.user_ar_zonecode == null? '': vo.user_ar_zonecode}" title="우편번호 앞자리" type="text"
                                                   readonly="readonly"/>
                                        </div>
                                        <button type="button" class="address-btn"
                                                onclick="execDaumPostcode()"
                                                title="새창열림">우편번호 찾기
                                        </button>
                                    </div>
                                    <div class="input-wrap" style="width: 478px">
                                        <input name="addr1" id="addr1" maxlength="100"
                                               class="cm_inptxt" title="시군구주소 입력" type="text"
                                               th:value="${vo.user_ar == null? '': vo.user_ar}" readonly="readonly"/>
                                    </div>
                                    <div class="input-wrap" style="width: 478px">
                                        <input name="addr2" id="addr2" maxlength="50"
                                               class="cm_inptxt" title="상세주소 입력"
                                               type="text" th:value="${vo.user_ar_detail == null? '': vo.user_ar_detail}" placeholder="상세주소"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="txt-left">
                                <span style="margin-left: 80px">계좌번호</span>
                            </th>
                            <td data-cell-header="계좌번호" class="txt-left">
                                <div style="overflow: hidden; width: 500px">
                                    <div class="select-box" style="margin-bottom: 10px; float: left">
                                        <label for="selectBank"></label>
                                        <select class="info-select" id="selectBank"
                                                name="search_field" title="검색조건을 선택해주세요.">
                                            <option value="">은행목록</option>
                                            <option value="kb" th:selected="${vo.user_bank == 'kb'}">국민은행</option>
                                            <option value="ibk" th:selected="${vo.user_bank == 'ibk'}">기업은행</option>
                                            <option value="nh" th:selected="${vo.user_bank == 'nh'}">농협은행</option>
                                            <option value="sh" th:selected="${vo.user_bank == 'sh'}">신한은행</option>
                                            <option value="wr" th:selected="${vo.user_bank == 'wr'}">우리은행</option>
                                            <option value="hn" th:selected="${vo.user_bank == 'hn'}">하나은행</option>
                                            <option value="sc" th:selected="${vo.user_bank == 'sc'}">SC제일은행</option>
                                        </select>
                                    </div>
                                    <div class="selectedBank" style="float: left">
                                        <img src="#" alt="" id="bankIcon">
                                        <p style="float:right;" class="selBank"></p>
                                    </div>
                                </div>
                                <div class="input-wrap-three write-wrap-m">
                                    <div class="input-wrap" style="width: 320px; display: inline-block">
                                        <input name="cvl_cel1" maxlength="4" id="cvl_account1"
                                               th:value="${vo.user_bank_account}" class="cm_inptxt"
                                               title="계좌번호" type="text"
                                               onkeydown="return num_only(event)" placeholder="계좌번호"/>
                                    </div>
                                    <div class="input-wrap"
                                         style="width: 150px; display: inline-block; margin-left: 5px">
                                        <input name="cvl_cel2" maxlength="4" id="cvl_account2"
                                               th:value="${vo.user_bank_holder}" class="cm_inptxt"
                                               title="예금주"
                                               type="text" onkeydown="return num_only(event)" placeholder="예금주"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 추가정보 테이블 -->
                <div style="margin-top: 40px">
                    <span class="sub_title">추가 정보</span>
                </div>
                <div class="table table-responsive">
                    <table>
                        <tbody>
                        <tr style="padding-top: 20px; height: 75px">
                            <th scope="row" class="txt-left" style="width: 20% !important;">
                                <span class="essential-txt" title="필수항목" style="margin-left: 60px;">소송사건 당사자 경력</span>
                            </th>
                            <td data-cell-header="소송경력" class="txt-left" style="width: 30%">
                                <input type="checkbox" name="check1"><span style="margin-left: 7px">경력 있음</span>
                            </td>
                            <td data-cell-header="소송경력" class="txt-left lawtd" style="width: 50%">
                                <textarea name="lawsuit" placeholder="경력 내용 기입" class="txtInfo"></textarea>
                            </td>

                        </tr>
                        <tr style="height: 75px">
                            <th scope="row" class="txt-left" style="width: 30% !important;">
                                <span class="essential-txt" title="필수항목" style="margin-left: 60px;">보험업계 자문 경력</span>
                            </th>
                            <td data-cell-header="보험경력" class="txt-left">
                                <input type="checkbox" name="check2"><span style="margin-left: 7px">경력 있음</span>
                            </td>
                            <td data-cell-header="보험경력" class="txt-left insurance">
                                <textarea name="insurance" placeholder="경력 내용 기입" class="txtInfo"></textarea>
                            </td>
                        </tr>
                        <tr style="height: 75px">
                            <th scope="row" class="txt-left" style="width: 40% !important;">
                                <span class="essential-txt" title="필수항목" style="margin-left: 60px;">형사처벌 받은 경력</span>
                            </th>
                            <td data-cell-header="형사경력" class="txt-left">
                                <input type="checkbox" name="check3"><span style="margin-left: 7px">경력 있음</span>
                            </td>
                            <td data-cell-header="형사경력" class="txt-left detective">
                                <textarea name="detective" placeholder="경력 내용 기입" class="txtInfo"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <!-- prev, next 버튼 -->
                <div class="btn-holder">
                    <button class="btn btn-2 hover-opacity prev_btn"> <!-- onclick="location.href='/app/start'" -->
                        <span>◀ 이전 단계</span>
                    </button>

                    <em style="padding-top: 15px"> 1 / 4</em>

                    <button class="btn btn-2 hover-opacity next_btn">
                        <span>다음 단계 ▶</span>
                    </button>
                </div>

                <!-- 임시 저장 확인창 -->
                <div class="modal">
                    <div class="modal__background">
                        <div class="modal_body2">
                            <div class="dmui_dialog" style="left: 161.5px; top: 429.5px;">
                                <div class="dmui_dialog_content LsimplePopup applicationchangeConfirm width280"
                                     style="outline: none;" tabindex="-1">
                                    <div class="dmui_dialog_header"><h1 class="dmui_dialog_title">신청서 저장 안내</h1></div>
                                    <div class="dmui_dialog_body" tabindex="0">
                                        <div class="saveIcon">
                                            <img src="../img/app/saveicon.png">
                                        </div>
                                        <div class="LblockPopupMain applicationchangeConfirm" style="height:80px;">
                                            <p class="LtextCenter"><strong><br> 저장하지 않고 이동하실 경우,
                                                <br>변경된 내용은 반영되지 않습니다.</strong></p>
                                        </div>
                                        <p><strong>저장하시겠습니까?</strong></p>
                                    </div>
                                </div>
                                <div class="dmui_dialog_footer">
                                    <span><button class="dmui_dialog_footer_btn save">저장</button></span>
                                    <span><button class="dmui_dialog_footer_btn cancel">저장 안함</button></span>
                                </div>
                                <div class="dmui_dialog_btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

</th:block>

<!--주소찾기-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("addr1").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("addr2").focus();
            }
        }).open();
    }
</script>

<!--은행정보 확인-->
<script>
    $("#selectBank").change(function () {
        let selected = $("#selectBank option:selected").val();
        if (selected == 'kb') {
            $("#bankIcon").attr("src", "/img/app/kbIcon.png");
            $(".selBank").html('국민은행');
        } else if (selected == 'ibk') {
            $("#bankIcon").attr("src", "/img/app/ibkIcon.png");
            $(".selBank").html('기업은행');
        } else if (selected == 'nh') {
            $("#bankIcon").attr("src", "/img/app/nhIcon.png");
            $(".selBank").html('농협은행');
        } else if (selected == 'sh') {
            $("#bankIcon").attr("src", "/img/app/shIcon.png");
            $(".selBank").html('신한은행');
        } else if (selected == 'wr') {
            $("#bankIcon").attr("src", "/img/app/wrIcon.png");
            $(".selBank").html('우리은행');
        } else if (selected == 'hn') {
            $("#bankIcon").attr("src", "/img/app/hnIcon.png");
            $(".selBank").html('하나은행');
        } else if (selected == 'sc') {
            $("#bankIcon").attr("src", "/img/app/scIcon.png");
            $(".selBank").html('SC제일은행');
        } else {
            $("#bankIcon").attr("src", "#");
            $(".selBank").html('');
        }

    });

</script>

<!--메일주소 선택입력-->
<script>

    $("#mailAddr").change(function () {
        let selmail = $("#mailAddr option:selected").html();
        $("#cvl_mail2").attr("value", selmail);

    });

    $(".addCourt").click(function () {
        console.log("추가");
    })
</script>

<!--모달창 : 저장-->
<script>

    const modal = document.querySelector('.modal');
    let x = 0;

    $(".prev_btn").click(function () {
        modal.style.display = 'block';
        x = 1;
    })
    $(".next_btn").click(function () {
        modal.style.display = 'block';
        x = 2;
    })

    $(".save").click(function () {
        if (x == 1) {
            $(location).attr("href", "../app/confirm");
        } else {
            $(location).attr("href", "../app/career");
        }
        x = 0;
    })

    $(".cancel").click(function () {
        if (x == 1) {
            $(location).attr("href", "../app/confirm");
        } else {
            $(location).attr("href", "../app/career");
        }
        x = 0;
    })

    $(".dmui_dialog_btn").click(function () {
        modal.style.display = 'none';
    })

</script>

<!--법원선택-->
<script>

    $('#selectRegion').change(function () {

        $("#from_bub_cd option").hide();

        let selRegion = $("#selectRegion option:selected").val();
        if(selRegion === '전체') {
            $("#from_bub_cd option").show();
        } else {
            $("#from_bub_cd option").filter(function () {
                return selRegion === $(this).attr("class");
            }).show();
        }
    })


    function removeCourt() {
        return !$('#wish_bub_cd option:selected').remove().appendTo('#from_bub_cd');
    };

    function addCourt() {
        // !$('#from_bub_cd option:selected').remove().appendTo('#wish_bub_cd');

        var left = $("#from_bub_cd option:selected").size();
        var right = $("#wish_bub_cd option").size();

        var cnt = left + right;
        //alert(cnt);
        if (cnt > 2) {
            alert('희망법원은 2개까지 신청가능합니다.');
            return;
        } else {
            return !$('#from_bub_cd option:selected').remove().appendTo('#wish_bub_cd');
        }
    }
</script>

<!--사건내역 상세내용 숨기기/보이기-->
<script>
    (function() {
        $(".lawtd").css("visibility", "hidden");
        $(".insurance").css("visibility", "hidden");
        $(".detective").css("visibility", "hidden");

    })();

    $('input[name="check1"]').change(function () {
        var checked1 = $(this).prop('checked');
        if (checked1) {
            $(".lawtd").css("visibility", "visible");
        }
        else {
            $(".lawtd").css("visibility", "hidden");
        }
    });

    $('input[name="check2"]').change(function () {
        var checked2 = $(this).prop('checked');
        if (checked2) {
            $(".insurance").css("visibility", "visible");
        }
        else {
            $(".insurance").css("visibility", "hidden");
        }
    });

    $('input[name="check3"]').change(function () {
        var checked3 = $(this).prop('checked');
        if (checked3) {
            $(".detective").css("visibility", "visible");
        }
        else {
            $(".detective").css("visibility", "hidden");
        }
    });


</script>

</html>
