<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{./../css/app/info.css}"/>
<script th:src="@{./../js/app/jquery-1.11.3.min.js}"></script>

<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">


    <div class="wrap">
        <div id="main_con">
            <div id="nav_menu">
                <div id="lnb">
                    <h2 class="title">조력자등재신청</h2>
                    <div class="menu">
                        <ul>
                            <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">조력자 등재신청</a>
                            </li>
                            <li class="has-sub"><a href="#" title="이용문의 닫기 (열림)">조력자 등재명단</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <div id="contents">
                <div class="heading-wrap container">
                    <h3 class="heading1">
                        <span>재판조력자 등재신청</span>
                    </h3>
                </div>

                <div id="crumbs">
                    <ul>
                        <li><a href="../app/info">기본정보</a></li>
                        <li><a href="../app/career">경력상세</a></li>
                        <li><a href="#3" class="highlight">학력상세</a></li>
                        <li><a href="../app/file">서류제출</a></li>
                    </ul>
                </div>

                <form name="actionForm" action="saveEduForm" method="post">
                    <input type="hidden" name="x" id="xField" value="">

                    <!-- 최종학력 선택 -->
                    <div style="overflow: hidden">
                        <div style="margin-top: 40px; float: left; display: inline-block">
                            <span class="sub_title">최종학력</span>
                        </div>
                        <div class="select-box" style="margin: 30px 0 0 15px; float:left;">
                            <label for="selectEdu"></label>
                            <select class="info-select" id="selectEdu" name="user_edctn_final">
                                <option value="">선택</option>
                                <option value="학사" th:selected="${vo.user_edctn_final == '학사'}">학사</option>
                                <option value="석사" th:selected="${vo.user_edctn_final == '석사'}">석사</option>
                                <option value="박사" th:selected="${vo.user_edctn_final == '박사'}">박사</option>
                                <option value="전문" th:selected="${vo.user_edctn_final == '전문'}">전문학사</option>
                                <option value="고졸" th:selected="${vo.user_edctn_final == '고졸'}">고졸</option>
                            </select>
                        </div>
                    </div>

                    <!-- 고등학교 정보입력 -->
                    <div class="highschool">
                        <div style="overflow: hidden">
                            <div style="margin-top: 40px; float: left">
                                <span class="sub_title">고등학교 정보</span>
                            </div>
                        </div>
                        <div class="table table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col">학교명</th>
                                    <th scope="col">졸업구분</th>
                                    <th scope="col">입학일</th>
                                    <th scope="col">졸업일</th>
                                </tr>
                                </thead>
                                <tbody id="highTable">
                                <tr style="cursor: pointer">
                                    <td data-cell-header="학교명"><input type="text" class="input-wrap highSchoolName" name="edctn_school_name"
                                                                      style="margin-left: 40px; width: 250px" th:value="${highInfo != null? highInfo.edctn_school_name : ''}">
                                        <input type="button" class="highSearch"
                                               style="background: url(../../img/app/search.png); border: none; width: 30px;
                                        height: 30px; background-size: cover; position: absolute;
                                        margin-left: -38px; margin-top: 5px; cursor: pointer"></td>
                                    <td data-cell-header="졸업구분">
                                        <div class="select-box">

                                            <label>선택</label><select class="info-select" id="selectState"
                                                                     name="edctn_final">
                                            <option value="">선택</option>
                                            <option value="졸업" th:selected="${highInfo != null && highInfo.edctn_final == '졸업'}">졸업</option>
                                            <option value="중퇴" th:selected="${highInfo != null && highInfo.edctn_final == '중퇴'}">중퇴</option>
                                        </select>
                                        </div>
                                    </td>
                                    <td data-cell-header="입학일">
                                        <div class="calander-box" style="padding: 0">
                                            <input type="text" class="datepicker" readonly placeholder="날짜선택"
                                                   name="edctn_admsn_date" th:value="${highInfo != null? highInfo.edctn_admsn_date : ''}" style="width: 150px; height: 40px; border-radius: 0;
                                           background-position-x: 123px; background-position-y: 10px; cursor: pointer;"/>
                                        </div>
                                    </td>
                                    <td data-cell-header="졸업일">
                                        <div class="calander-box" style="padding: 0; margin-right: 40px">
                                            <input type="text" class="datepicker" readonly placeholder="날짜선택"
                                                   name="edctn_grdtn_date" th:value="${highInfo != null? highInfo.edctn_grdtn_date : ''}" style="width: 150px; height: 40px; border-radius: 0;
                                           background-position-x: 123px; background-position-y: 10px; cursor: pointer;"/>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- 대학/대학원 정보입력 -->
                    <div class="university">
                        <div style="overflow: hidden">
                            <div style="margin-top: 40px; float: left">
                                <span class="sub_title">대학/대학원 정보</span>
                            </div>
                            <button type="button" class="add" id="eduAddBtn"
                                    style="float: right; padding: 43px 27px 0 0">학력 추가
                            </button>
                        </div>
                        <div class="table eduTable" style="overflow: auto">
                            <table style="white-space: nowrap">
                                <thead>
                                <tr>
                                    <th scope="col" style="padding-left: 50px">학교명</th>
                                    <th scope="col">학과</th>
                                    <th scope="col">학위</th>
                                    <th scope="col">졸업구분</th>
                                    <th scope="col">입학일</th>
                                    <th scope="col">졸업일</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody id="eduTable">
                                <th:block th:if="${univInfo != null}">
                                <tr th:each="uvo : ${univInfo}" style="cursor: pointer">
                                    <td data-cell-header="학교명"><input type="text" class="input-wrap universityName" name="edctn_school_name[]"
                                                                      style="width: 200px; margin-left: 50px" th:value="${uvo.edctn_school_name}">
                                        <input type="button" class="UnivSearch"
                                               style="background: url(../../img/app/search.png); border: none; width: 30px;
                                        height: 30px; background-size: cover; position: absolute;
                                        margin-left: -38px; margin-top: 5px; cursor: pointer"></td>
                                    <td data-cell-header="학과"><input type="text" class="input-wrap" name="edctn_major[]"
                                                                     style="width: 150px" th:value="${uvo.edctn_major}">
                                    </td>
                                    <td data-cell-header="학위">
                                        <div class="select-box2" style="width: 140px">
                                            <label for="selectEdu2"></label>
                                            <select class="info-select" id="selectEdu2" name="edctn_degree[]">
                                                <option value="">선택</option>
                                                <option value="학사" th:selected="${uvo.edctn_degree == '학사'}">학사</option>
                                                <option value="석사" th:selected="${uvo.edctn_degree == '석사'}">석사</option>
                                                <option value="박사" th:selected="${uvo.edctn_degree == '박사'}">박사</option>
                                                <option value="전문학사" th:selected="${uvo.edctn_degree == '전문학사'}">전문학사</option>
                                            </select>
                                        </div>
                                    </td>

                                    <td data-cell-header="졸업구분">
                                        <div class="select-box2" style="width: 140px">
                                            <label for="selectState2"></label>
                                            <select class="info-select" id="selectState2"
                                                    name="edctn_final[]" title="검색조건을 선택해주세요.">
                                                <option value="">선택</option>
                                                <option value="졸업" th:selected="${uvo.edctn_final == '졸업'}">졸업</option>
                                                <option value="졸업예정" th:selected="${uvo.edctn_final == '졸업예정'}">졸업예정</option>
                                                <option value="수료" th:selected="${uvo.edctn_final == '수료'}">수료</option>
                                                <option value="중퇴" th:selected="${uvo.edctn_final == '중퇴'}">중퇴</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td data-cell-header="입학일">
                                        <div class="calander-box" style="padding: 0">
                                            <input type="text" class="datepicker" placeholder="날짜선택"
                                                   name="edctn_admsn_date[]" th:value="${uvo.edctn_admsn_date}" style="width: 130px; height: 40px; border-radius: 0;
                                           background-position-x: 100px; background-position-y: 10px; cursor: pointer;"/>
                                        </div>
                                    </td>
                                    <td data-cell-header="졸업일">
                                        <div class="calander-box" style="padding: 0">
                                            <input type="text" class="datepicker" placeholder="날짜선택"
                                                   name="edctn_grdtn_date[]" th:value="${uvo.edctn_grdtn_date}" style="width: 130px; height: 40px; border-radius: 0;
                                           background-position-x: 100px; background-position-y: 10px; cursor: pointer;"/>
                                        </div>
                                    </td>
                                    <td style="padding: 0.5rem 0">
                                        <button class="case case1 deleteInfo" onclick="deleteLine(this)">지우기</button>
                                    </td>
                                </tr>

                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- 자격 정보입력 -->
                    <div style="overflow: hidden">
                        <div style="margin-top: 40px; float: left">
                            <span class="sub_title">자격증 정보</span>
                        </div>
                        <button type="button" class="add" id="certAddBtn" style="float: right; padding: 43px 27px 0 0">
                            자격증
                            추가
                        </button>
                    </div>
                    <div class="table table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col">자격증 종목</th>
                                <th scope="col">발급기관</th>
                                <th scope="col">자격증/면허번호</th>
                                <th scope="col">발급일</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody id="certiTable">
                            </tr>
                            <th:block th:if="${ctList != null}">
                                <tr th:each="cvo : ${ctList}" style="cursor: pointer">
                                    <td data-cell-header="종목"><input type="text" class="input-wrap certificationName"
                                                                     style="width: 200px; margin-left: 30px" name="crtfc_type" th:value="${cvo.crtfc_type}">
                                        <input type="button" class="certiSearch"
                                               style="background: url(../../img/app/search.png); border: none; width: 30px;
                                        height: 30px; background-size: cover; position: absolute;
                                        margin-left: -38px; margin-top: 5px; cursor: pointer"></td>
                                    <td data-cell-header="기관">
                                        <input type="text" class="input-wrap" style="width: 150px" name="issue_agency" th:value="${cvo.issue_agency}">
                                    </td>
                                    <td data-cell-header="면허번호">
                                        <input type="text" class="input-wrap" style="width: 150px" name="crtfc_number" th:value="${cvo.crtfc_number}">
                                    </td>
                                    <td data-cell-header="발급일">
                                        <div class="calander-box" style="padding: 0">
                                            <input type="text" class="datepicker" readonly placeholder="날짜선택"
                                                   name="issue_date" value="" style="width: 150px; height: 40px; border-radius: 0;
                                           background-position-x: 123px; background-position-y: 10px; cursor: pointer;" th:value="${cvo.issue_date}"/>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="case case1 deleteInfo" onclick="deleteLine(this)"
                                                style="margin-right: 30px">
                                            지우기
                                        </button>
                                    </td>
                            </th:block>
                            </tbody>
                        </table>
                    </div>

                </form>

                <div class="btn-holder">
                    <button class="btn btn-2 hover-opacity prev_btn">
                        <span>◀ 이전 단계</span>
                    </button>

                    <em style="padding-top: 15px"> 3 / 4</em>

                    <button class="btn btn-2 hover-opacity next_btn">
                        <span>다음 단계 ▶</span>
                    </button>

                </div>

                <!-- 임시저장 모달창 -->
                <div class="modal">
                    <div class="modal__background">
                        <div class="modal_body2">
                            <div class="dmui_dialog" style="left: 161.5px; top: 429.5px;">
                                <div class="dmui_dialog_content LsimplePopup applicationchangeConfirm width280"
                                     style="outline: none;" tabindex="-1">
                                    <div class="dmui_dialog_header"><h1 class="dmui_dialog_title">신청서 저장 안내</h1></div>
                                    <div class="dmui_dialog_body" tabindex="0">
                                        <div class="saveIcon">
                                            <img src="../img/app/saveicon.png">
                                        </div>
                                        <div class="LblockPopupMain applicationchangeConfirm" style="height:80px;">
                                            <p class="LtextCenter"><strong><br> 저장하지 않고 이동하실 경우,
                                                <br>변경된 내용은 반영되지 않습니다.</strong></p>
                                        </div>
                                        <p><strong>저장하시겠습니까?</strong></p>
                                    </div>
                                </div>
                                <div class="dmui_dialog_footer">
                                    <span><button class="dmui_dialog_footer_btn save">저장</button></span>
                                    <span><button class="dmui_dialog_footer_btn cancel">저장 안함</button></span>
                                </div>
                                <div class="dmui_dialog_btn"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 자격증 검색 모달창 -->
                <div class="modal2">
                    <div class="modal__background">
                        <div class="modal_body" style="height: 350px">
                            <div class="modalOff">X</div>
                            <form action="searchCer" method="get">
                                <div class="modal_con">
                                    <p style="font-size: 18px; font-weight: 600; margin: 15px; color: #1c449c;">자격증
                                        검색</p>
                                    <div class="search-btn-wrap">
                                        <div class="input-wrap">
                                            <input id="certification" class="cm_inptxt" name="searchkeyword"
                                                   type="text"/>
                                        </div>
                                        <input type="button" id="searchCerti-btn" th:value="검색">
                                    </div>

                                    <div class="table table-responsive">
                                        <ul id="searchResult" style="padding: 20px">
                                            <li class="defaultLi">정보 없음</li>
                                        </ul>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- 고등학교 검색 모달창 -->
                <div class="modal3">
                    <div class="modal__background">
                        <div class="modal_body" style="height: 350px">
                            <div class="modalOff">X</div>
                            <form action="searchHigh" method="get">
                                <div class="modal_con">
                                    <p style="font-size: 18px; font-weight: 600; margin: 15px; color: #1c449c;">고등학교
                                        검색</p>
                                    <div class="search-btn-wrap">
                                        <div class="input-wrap">
                                            <input id="highschool" class="cm_inptxt" name="searchkeyword"
                                                   type="text"/>
                                        </div>
                                        <input type="button" id="searchHigh_btn" th:value="검색">
                                    </div>

                                    <div class="table table-responsive searchResultList">
                                        <ul id="searchResult2">
                                            <li class="defaultLi2">정보 없음</li>
                                        </ul>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- 대학교 검색 모달창 -->
                <div class="modal4">
                    <div class="modal__background">
                        <div class="modal_body" style="height: 350px">
                            <div class="modalOff">X</div>
                            <form action="searchUniv" method="get">
                                <div class="modal_con">
                                    <p style="font-size: 18px; font-weight: 600; margin: 15px; color: #1c449c;">대학교
                                        검색</p>
                                    <div class="search-btn-wrap">
                                        <div class="input-wrap">
                                            <input id="univercity" class="cm_inptxt" name="searchkeyword"
                                                   type="text"/>
                                        </div>
                                        <input type="button" id="searchUniv_btn" th:value="검색">
                                    </div>

                                    <div class="table table-responsive searchResultList">
                                        <ul id="searchResult3">
                                            <li class="defaultLi3">정보 없음</li>
                                        </ul>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</th:block>

<script th:src="@{../../js/app/info.js}"></script>


</html>