<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.court.proj.announce.AnnounceMapper">

	<!-- TB_002, TB_010, TB_015 공고 리스트 조회 -->
	<select id="getannounceList" resultType="AnnounceVO">
		select
		a.announce_proper_num,
		a.admin_proper_num,
		b.admin_id,
		b.admin_pw,
		b.admin_auth,
		b.admin_name,
		a.trial_fcltt_proper_num,
		c.trial_fcltt_main_code,
		c.trial_fcltt_clasifi_code,
		c.trial_fcltt_sbcls_code,
		c.trial_fcltt_description,
		a.announce_title,
		a.announce_content,
		a.announce_start_date,
		a.announce_end_date,
		a.announce_first_date,
		a.announce_last_date
		from tb_002 a
		inner join
		tb_015 b on a.admin_proper_num = b.admin_proper_num
		inner join tb_010 c
		on a.trial_fcltt_proper_num = c.trial_fcltt_proper_num
	</select>

	<select id="getinfo" resultType="AnnounceVO">
		select * from TB_015 where
		admin_id = #{admin_id}
	</select>

	<!-- 검색기능 start -->
	<select id="searchAnnounceByTitleAndContent"
		resultType="AnnounceVO">
		SELECT * FROM tb_002
		WHERE announce_title LIKE '%' ||
		#{keyword} || '%' OR announce_content LIKE
		'%' || #{keyword} || '%'
	</select>

	<select id="searchAnnounceByTitle" resultType="AnnounceVO">
		SELECT * FROM
		tb_002
		WHERE announce_title LIKE '%' || #{keyword} || '%'
	</select>

	<select id="searchAnnounceByContent" resultType="AnnounceVO">
		SELECT * FROM
		tb_002
		WHERE announce_content LIKE '%' || #{keyword} || '%'
	</select>

	<!-- 재판조력자 분로 start -->
	<select id="getTrial" resultType="TrialVO">
		select * from TB_010
	</select>

	<!-- 공고 등록 start -->

	<insert id="announceRegistTB002" parameterType="AnnounceVO">

		INSERT INTO
		TB_002
		(admin_proper_num,
		trial_fcltt_proper_num,
		announce_title,
		announce_content,
		announce_start_date,
		announce_end_date,
		announce_first_date,
		announce_last_date)
		VALUES
		(#{admin_proper_num},
		#{trial_fcltt_proper_num},
		#{announce_title},
		#{announce_content},
		#{announce_start_date},
		#{announce_end_date},
		#{announce_first_date},
		#{announce_last_date})
	</insert>

	<insert id="announceRegistTB010" parameterType="AnnounceVO">

		INSERT INTO
		TB_010
		(trial_fcltt_main_code,
		trial_fcltt_clasifi_code,
		trial_fcltt_sbcls_code,
		trial_fcltt_description)
		VALUES
		(#{trial_fcltt_main_code},
		#{trial_fcltt_clasifi_code},
		#{trial_fcltt_sbcls_code},
		#{trial_fcltt_description})
	</insert>

	<insert id="adminRegistTB015" parameterType="AnnounceVO">

		INSERT INTO TB_015
		(admin_id,
		admin_pw,
		admin_auth)
		VALUES
		(#{admin_id},
		#{admin_pw},
		#{admin_auth}
	</insert>
	<!-- 공고 등록 end -->

	<!-- 공고 등록 end -->
</mapper>
