<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.court.proj.aplcnReg.AplcnRegMapper">

    <select id="getInfo" resultType="UserVO">
        SELECT * FROM TB_001 WHERE USER_ID = #{user_id};
    </select>

    <select id="getCourt" resultType="CourtVO">
        SELECT * FROM TB_011;
    </select>

    <select id="getTrial" resultType="TrialVO">
        SELECT * FROM TB_010;
    </select>

    <select id="getTrialVO" resultType="TrialVO">
        SELECT * FROM TB_010 WHERE TRIAL_FCLTT_PROPER_NUM = #{trial_pn}
    </select>

    <select id="getAnnounce" resultType="AnnounceVO">
        SELECT TB_002.*,
               TB_010.TRIAL_FCLTT_MAIN_CODE,
               TB_010.TRIAL_FCLTT_CLASIFI_CODE,
               TB_010.TRIAL_FCLTT_SBCLS_CODE,
               TB_010.TRIAL_FCLTT_DESCRIPTION
        FROM TB_002
                 LEFT OUTER JOIN
             TB_010 ON TB_002.TRIAL_FCLTT_PROPER_NUM = TB_010.TRIAL_FCLTT_PROPER_NUM
        WHERE ANNOUNCE_END_DATE >= #{date}
    </select>

    <select id="getSelectedAnnounce" resultType="AnnounceVO">
        SELECT TB_002.*,
               TB_010.TRIAL_FCLTT_MAIN_CODE,
               TB_010.TRIAL_FCLTT_CLASIFI_CODE,
               TB_010.TRIAL_FCLTT_SBCLS_CODE,
               TB_010.TRIAL_FCLTT_DESCRIPTION
        FROM TB_002
                 LEFT OUTER JOIN
             TB_010 ON TB_002.TRIAL_FCLTT_PROPER_NUM = TB_010.TRIAL_FCLTT_PROPER_NUM
        WHERE ANNOUNCE_PROPER_NUM = #{listNum};
    </select>

    <select id="getTrialNum1" resultType="int">
        SELECT * FROM TB_010 WHERE TRIAL_FCLTT_MAIN_CODE = #{st1}
                               AND TRIAL_FCLTT_CLASIFI_CODE = #{st2}
    </select>

    <select id="getTrialNum2" resultType="int">
        SELECT * FROM TB_010 WHERE TRIAL_FCLTT_MAIN_CODE = #{st1}
                               AND TRIAL_FCLTT_CLASIFI_CODE = #{st2}
                               AND TRIAL_FCLTT_SBCLS_CODE = #{st3}
    </select>

    <select id="getDetailInfo" resultType="int">
        SELECT COUNT(*) FROM TB_005 WHERE USER_PROPER_NUM = #{user_num}
    </select>

    <select id="getAllDetailInfo" resultType="InfoVO">
        SELECT * FROM TB_005 WHERE USER_PROPER_NUM = #{user_num}
    </select>

    <insert id="setDetailInfo" parameterType="InfoVO">
        INSERT INTO TB_005(
            USER_PROPER_NUM, TRIAL_FCLTT_PROPER_NUM,
            COURT_PROPER1, COURT_PROPER2,
            LIGTN_CASE_CARER_YN, LIGTN_CASE_CARER_ETC,
            INSRN_INDST_CARER_YN, INSRN_INDST_CARER_ETC,
            CRIMINAL_PENALTY_CARER_YN, CRIMINAL_PENALTY_CARER_ETC
        )
        VALUES (
            #{user_proper_num}, #{trial_fcltt_proper_num},
            #{court_proper1}, #{court_proper2},
            #{ligtn_case_carer_yn}, #{ligtn_case_carer_etc},
            #{insrn_indst_carer_yn}, #{insrn_indst_carer_etc},
            #{criminal_penalty_carer_yn}, #{criminal_penalty_carer_etc}
        )
    </insert>

    <update id="updateDetailInfo" parameterType="InfoVO">
        UPDATE TB_005 SET
            TRIAL_FCLTT_PROPER_NUM = #{trial_fcltt_proper_num},
            COURT_PROPER1 = #{court_proper1},
            COURT_PROPER2 = #{court_proper2},
            LIGTN_CASE_CARER_YN = #{ligtn_case_carer_yn},
            LIGTN_CASE_CARER_ETC = #{ligtn_case_carer_etc},
            INSRN_INDST_CARER_YN = #{insrn_indst_carer_yn},
            INSRN_INDST_CARER_ETC = #{insrn_indst_carer_etc},
            CRIMINAL_PENALTY_CARER_YN = #{criminal_penalty_carer_yn},
            CRIMINAL_PENALTY_CARER_ETC = #{criminal_penalty_carer_etc}
        WHERE USER_PROPER_NUM = #{user_proper_num}
    </update>

    <update id="updateInfo" parameterType="UserVO">
        UPDATE TB_001 SET
            USER_EMAIL_F = #{user_email_f},
            USER_EMAIL_B = #{user_email_b},
            USER_PHONE = #{user_phone},
            USER_JOB = #{user_job},
            USER_AR = #{user_ar},
            USER_AR_ZONECODE = #{user_ar_zonecode},
            USER_AR_DETAIL = #{user_ar_detail},
            USER_BANK = #{user_bank},
            USER_BANK_ACCOUNT = #{user_bank_account},
            USER_BANK_HOLDER = #{user_bank_holder}
        WHERE USER_PROPER_NUM = #{user_proper_num}
    </update>

    <select id="getCareer" resultType="AddInfoVO">
        SELECT * FROM TB_007
        WHERE APLCN_DTLS_PROPER_NUM = #{reg_num}
    </select>

    <select id="getRegnum" resultType="int">
        SELECT APLCN_DTLS_PROPER_NUM FROM TB_005
        WHERE USER_PROPER_NUM = #{user_num};
    </select>

    <select id="getSpecial" resultType="AddInfoVO">
        SELECT * FROM TB_007_2
        WHERE APLCN_DTLS_PROPER_NUM = #{reg_num}
    </select>

    <select id="getCareerInfo" resultType="int">
        SELECT COUNT(*)
        FROM TB_007
              WHERE APLCN_CARER_PROPER_NUM = #{reg_num}
    </select>

    <select id="getSpecialInfo" resultType="int">
        SELECT COUNT(*)
        FROM TB_007_2
            WHERE APLCN_DTLS_PROPER_NUM = #{reg_num}
    </select>

    <update id="updateCareer007" parameterType="AddInfoVO">
        UPDATE TB_007 SET
            COMPANY_NAME = #{company_name},
            CARER_TYPE = #{carer_type},
            WORK_START_DATE = #{work_start_date},
            WORK_END_DATE = #{work_end_date},
            WORK_DESCRIPTION = #{work_description},
            WORK_DEPARTMENT = #{work_department},
            WORK_POSITION = #{work_position}
        WHERE APLCN_CARER_PROPER_NUM = #{aplcn_carer_proper_num}
    </update>

    <update id="updateCareer007_2" parameterType="AddInfoVO">
        UPDATE TB_007_2 SET
            CARER_DESCRIPTION = #{carer_description},
            SPECIAL_NOTE_DESCRIPTION = #{special_note_description}
            WHERE APLCN_DTLS_PROPER_NUM = #{aplcn_dtls_proper_num}
    </update>

    <insert id="setCareer007" parameterType="AddInfoVO">
        INSERT INTO TB_007 (
            APLCN_DTLS_PROPER_NUM, COMPANY_NAME, CARER_TYPE, WORK_START_DATE, WORK_END_DATE,
            WORK_DESCRIPTION, WORK_DEPARTMENT, WORK_POSITION
        )
        VALUES (
            #{aplcn_dtls_proper_num}, #{company_name}, #{carer_type}, #{work_start_date}, #{work_end_date},
            #{work_description}, #{work_department}, #{work_position}
        )
    </insert>

    <insert id="setCareer007_2" parameterType="AddInfoVO">
        INSERT INTO TB_007_2 (
            APLCN_DTLS_PROPER_NUM, CARER_DESCRIPTION, SPECIAL_NOTE_DESCRIPTION
        )
        VALUES (
            #{aplcn_dtls_proper_num}, #{carer_description}, #{special_note_description}
        )
    </insert>

    <select id="getSchoolInfo" resultType="AddInfoVO">
        SELECT * FROM TB_006
        WHERE APLCN_DTLS_PROPER_NUM = #{reg_num}
    </select>

    <select id="getCertiInfo" resultType="AddInfoVO">
        SELECT * FROM TB_008
        WHERE APLCN_DTLS_PROPER_NUM = #{reg_num}
    </select>

    <select id="getHighCnt" resultType="int">
        SELECT COUNT(*) FROM TB_006
        WHERE APLCN_DTLS_PROPER_NUM = #{reg_num} AND EDCTN_SCHOOL_NAME LIKE '%고등학교%'
    </select>

    <insert id="setHighSchool" parameterType="AddInfoVO">
        INSERT INTO TB_006 (
            APLCN_DTLS_PROPER_NUM, EDCTN_SCHOOL_NAME, EDCTN_ADMSN_DATE, EDCTN_GRDTN_DATE, EDCTN_FINAL
        )
        VALUES (
            #{aplcn_dtls_proper_num}, #{edctn_school_name}, #{edctn_admsn_date}, #{edctn_grdtn_date}, #{edctn_final}
               )
    </insert>

    <update id="updateHighSchool" parameterType="AddInfoVO">
        UPDATE TB_006 SET
                          EDCTN_SCHOOL_NAME = #{edctn_school_name},
                          EDCTN_ADMSN_DATE = #{edctn_admsn_date},
                          EDCTN_GRDTN_DATE = #{edctn_grdtn_date},
                          EDCTN_FINAL = #{edctn_final}
        WHERE APLCN_DTLS_PROPER_NUM = #{aplcn_dtls_proper_num} AND EDCTN_SCHOOL_NAME LIKE '%고등학교%'
    </update>

    <select id="getUnivInfo" resultType="int">
        SELECT COUNT(*)
        FROM TB_006
        WHERE EDCTN_DTLS_PROPER_NUM = #{edpn}
    </select>

    <insert id="setUniv" parameterType="AddInfoVO">
        INSERT INTO TB_006 (
            APLCN_DTLS_PROPER_NUM, EDCTN_SCHOOL_NAME, EDCTN_MAJOR, EDCTN_DEGREE, EDCTN_ADMSN_DATE, EDCTN_GRDTN_DATE, EDCTN_FINAL
        )
        VALUES (
            #{aplcn_dtls_proper_num}, #{edctn_school_name}, #{edctn_major}, #{edctn_degree}, #{edctn_admsn_date}, #{edctn_grdtn_date}, #{edctn_final}
               )
    </insert>

    <update id="updateUniv" parameterType="AddInfoVO">
        UPDATE TB_006 SET
                          EDCTN_SCHOOL_NAME = #{edctn_school_name},
                          EDCTN_MAJOR = #{edctn_major},
                          EDCTN_DEGREE = #{edctn_degree},
                          EDCTN_ADMSN_DATE = #{edctn_admsn_date},
                          EDCTN_GRDTN_DATE = #{edctn_grdtn_date},
                          EDCTN_FINAL = #{edctn_final}
        WHERE EDCTN_DTLS_PROPER_NUM = #{edctn_dtls_proper_num}
    </update>

    <select id="getCerti" resultType="int">
        SELECT COUNT(*)
        FROM TB_008
        WHERE APLCN_CRTFC_PROPER_NUM = #{cpn}
    </select>

    <insert id="setCerti" parameterType="AddInfoVO">
        INSERT INTO TB_008 (
            APLCN_DTLS_PROPER_NUM, CRTFC_TYPE, ISSUE_AGENCY, CRTFC_NUMBER, ISSUE_DATE
        )
        VALUES (
                   #{aplcn_dtls_proper_num}, #{crtfc_type}, #{issue_agency}, #{crtfc_number}, #{issue_date}
               )
    </insert>

    <update id="updateCerti" parameterType="AddInfoVO">
        UPDATE TB_008 SET
                          CRTFC_TYPE = #{crtfc_type},
                          ISSUE_AGENCY = #{issue_agency},
                          CRTFC_NUMBER = #{crtfc_number},
                          ISSUE_DATE = #{issue_date}
        WHERE APLCN_CRTFC_PROPER_NUM = #{aplcn_crtfc_proper_num}
    </update>

    <update id="updateEdcFinal" parameterType="UserVO">
        UPDATE TB_001 SET
                          USER_EDCTN_FINAL = #{user_edctn_final}
        WHERE USER_PROPER_NUM = #{user_proper_num}
    </update>

    <select id="getAdpnum" resultType="int">
        SELECT TB_005.APLCN_DTLS_PROPER_NUM
        FROM TB_001
                 LEFT OUTER JOIN
             TB_005 ON TB_001.USER_PROPER_NUM = TB_005.USER_PROPER_NUM
        WHERE TB_001.USER_ID = #{id};
    </select>

    <insert id="uploadFileInfo" parameterType="AddInfoVO">
        INSERT INTO TB_009 (
            APLCN_DTLS_PROPER_NUM, FILE_CODE, FILE_TYPE, ORIGINAL_FILE_NAME, FILE_PATH
        )
        VALUES (
                   #{aplcn_dtls_proper_num}, #{file_code}, #{file_type}, #{original_file_name}, #{file_path}
               )
    </insert>

    <delete id="deleteFileInfo" parameterType="String">
        DELETE FROM TB_009
        WHERE FILE_PATH = #{path}
    </delete>

    <select id="getFilePath" resultType="String">
        SELECT FILE_PATH FROM TB_009
        WHERE APLCN_DTLS_PROPER_NUM = #{reg_num} AND ORIGINAL_FILE_NAME = #{fileName};
    </select>

    <select id="getFileInfo" resultType="AddInfoVO">
        SELECT * FROM TB_009
        WHERE APLCN_DTLS_PROPER_NUM = #{reg_num}
    </select>

    <update id="updateSts" parameterType="int">
        UPDATE TB_005 SET APLICN_DTLS_STS = '신청완료'
        WHERE APLCN_DTLS_PROPER_NUM = #{reg_num};
    </update>

</mapper>