<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.court.proj.aplcnReg.AplcnRegMapper">

    <select id="getInfo" resultType="UserVO">
        SELECT * FROM TB_001 WHERE USER_ID = #{user_id};
    </select>

    <select id="getCourt" resultType="CourtVO">
        SELECT * FROM TB_011;
    </select>

    <select id="getTrial" resultType="TrialVO">
        SELECT * FROM TB_010;
    </select>

</mapper>