<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.court.proj.aplcn.AplcnMapper">

	<insert id="aplcn_evaluate">
	</insert>

	<select id="getList">
		SELECT
		T1.user_proper_num AS user_proper_num,
		T1.user_name AS user_name,
		T3.court_name AS court_name,
		T4.trial_fcltt_clasifi_code AS trial_fcltt_clasifi_code,
		T2.aplicn_dtls_sts AS aplicn_dtls_sts,
		T2.aplcn_dtls_proper_num AS aplcn_dtls_proper_num
		FROM
		TB_001 T1
		INNER
		JOIN
		TB_005 T2 ON T1.user_proper_num = T2.user_proper_num
		INNER JOIN
		TB_011 T3 ON T2.court_proper1 = T3.court_name
		INNER JOIN
		TB_010 T4 ON
		T2.trial_fcltt_proper_num = T4.trial_fcltt_proper_num

		<where>
			<if test="cri.searchFcltt != '' and cri.searchFcltt != null ">
				and T4.trial_fcltt_clasifi_code like concat('%',
				#{cri.searchFcltt}, '%')
			</if>


			<if test="cri.searchFcltt == 'asc' ">
				T4.trial_fcltt_clasifi_code ascFcltt,
			</if>
			<if test="cri.searchCourt == 'asc' ">
				T3.court_name ascCourt,
			</if>
			<if test="cri.searchStatus == 'desc' ">
				T2.aplicn_dtls_sts unsuccess,
			</if>
		</where>
		limit #{cri.pageStart}, #{cri.amount}

	</select>

	<select id="getTotal" resultType="int">
		select count(*) as total
		from TB_001 T1
		where T1.user_proper_num =
		#{user_proper_num}

		<if test="cri.searchContent != '' and cri.searchContent != null ">
			and user_name like concat('%', #{cri.searchContent}, '%')
		</if>

	</select>


	<select id="getDetails" parameterType="int">
		SELECT
		T1.user_name AS user_name,
		T1.user_id AS user_id,
		T2.aplcn_dtls_proper_num AS aplcn_dtls_proper_num,
		T5.ligtn_case_carer_yn AS ligtn_case_carer_yn,
		T5.ligtn_case_carer_etc AS ligtn_case_carer_etc,
		T5.insrn_indst_carer_yn AS insrn_indst_carer_yn,
		T5.insrn_indst_carer_etc AS insrn_indst_carer_etc,
		T5.criminal_penalty_carer_yn AS criminal_penalty_carer_yn,
		T5.criminal_penalty_carer_etc AS criminal_penalty_carer_etc,
		T2.aplicn_dtls_sts AS aplicn_dtls_sts,
		T6.edctn_school_name AS edctn_school_name,
		T6.edctn_major AS edctn_major,
		T6.edctn_admsn_date AS edctn_admsn_date,
		T6.edctn_grdtn_date AS edctn_grdtn_date,
		T6.edctn_degree AS edctn_degree,
		T6.edctn_final AS edctn_final,
		T7.company_name AS company_name,
		T7.carer_type AS carer_type,
		T7.work_start_date AS work_start_date,
		T7.work_end_date AS work_end_date,
		T7.work_department AS work_department,
		T7.work_position AS work_position,
		T7.work_description AS work_description,
		T7_2.carer_description AS carer_description,
		T7_2.special_note_description AS special_note_description,
		T8.crtfc_type AS crtfc_type,
		T8.issue_agency AS issue_agency,
		T8.crtfc_number AS crtfc_number,
		T8.issue_date AS issue_date,
		T10.trial_fcltt_clasifi_code AS trial_fcltt_clasifi_code,
		T10.trial_fcltt_sbcls_code AS trial_fcltt_sbcls_code,
		T11.court_region AS court_region,
		T11.court_name AS court_name
		FROM
		TB_001 T1
		LEFT JOIN
		TB_005 T2 ON T1.user_proper_num = T2.user_proper_num
		LEFT JOIN
		TB_011 T3 ON T2.court_proper1 = T3.court_name
		LEFT JOIN
		TB_010 T4 ON T2.trial_fcltt_proper_num = T4.trial_fcltt_proper_num
		LEFT JOIN
		TB_005 T5 ON T1.user_proper_num = T5.user_proper_num
		LEFT JOIN
		TB_006 T6 ON T2.aplcn_dtls_proper_num = T6.aplcn_dtls_proper_num
		LEFT JOIN
		TB_007 T7 ON T2.aplcn_dtls_proper_num = T7.aplcn_dtls_proper_num
		LEFT JOIN
		TB_008 T8 ON T2.aplcn_dtls_proper_num = T8.aplcn_dtls_proper_num
		LEFT JOIN
		TB_010 t10 ON T2.trial_fcltt_proper_num = T10.trial_fcltt_proper_num
		LEFT JOIN
		TB_011 t11 ON T2.court_proper1 = T11.court_proper_num
		LEFT JOIN
		TB_007_2 T7_2 ON T7_2.aplcn_dtls_proper_num = T7.aplcn_dtls_proper_num
		WHERE
		T2.aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>

	<select id="getDetail" parameterType="int">
		SELECT
		T1.user_name AS user_name,
		T1.user_id AS user_id,
		T2.aplcn_dtls_proper_num AS aplcn_dtls_proper_num,
		T5.ligtn_case_carer_yn AS ligtn_case_carer_yn,
		T5.ligtn_case_carer_etc AS ligtn_case_carer_etc,
		T5.insrn_indst_carer_yn AS insrn_indst_carer_yn,
		T5.insrn_indst_carer_etc AS insrn_indst_carer_etc,
		T5.criminal_penalty_carer_yn AS criminal_penalty_carer_yn,
		T5.criminal_penalty_carer_etc AS criminal_penalty_carer_etc,
		T2.aplicn_dtls_sts AS aplicn_dtls_sts,
		T6.edctn_school_name AS edctn_school_name,
		T6.edctn_major AS edctn_major,
		T6.edctn_admsn_date AS edctn_admsn_date,
		T6.edctn_grdtn_date AS edctn_grdtn_date,
		T6.edctn_degree AS edctn_degree,
		T6.edctn_final AS edctn_final,
		T7.company_name AS company_name,
		T7.carer_type AS carer_type,
		T7.work_start_date AS work_start_date,
		T7.work_end_date AS work_end_date,
		T7.work_department AS work_department,
		T7.work_position AS work_position,
		T7.work_description AS work_description,
		T7_2.carer_description AS carer_description,
		T7_2.special_note_description AS special_note_description,
		T10.trial_fcltt_clasifi_code AS trial_fcltt_clasifi_code,
		T10.trial_fcltt_sbcls_code AS trial_fcltt_sbcls_code,
		T11.court_region AS court_region,
		T11.court_name AS court_name
		FROM
		TB_001 T1
		LEFT JOIN
		TB_005 T2 ON T1.user_proper_num = T2.user_proper_num
		LEFT JOIN
		TB_011 T3 ON T2.court_proper1 = T3.court_name
		LEFT JOIN
		TB_010 T4 ON T2.trial_fcltt_proper_num = T4.trial_fcltt_proper_num
		LEFT JOIN
		TB_005 T5 ON T1.user_proper_num = T5.user_proper_num
		LEFT JOIN
		TB_006 T6 ON T2.aplcn_dtls_proper_num = T6.aplcn_dtls_proper_num
		LEFT JOIN
		TB_007 T7 ON T2.aplcn_dtls_proper_num = T7.aplcn_dtls_proper_num
		LEFT JOIN
		TB_010 T10 ON T2.trial_fcltt_proper_num = T10.trial_fcltt_proper_num
		LEFT JOIN
		TB_011 T11 ON T2.court_proper1 = T11.court_proper_num
		LEFT JOIN
		TB_007_2 T7_2 ON T7_2.aplcn_dtls_proper_num = T7.aplcn_dtls_proper_num
		WHERE
		T2.aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>

	<insert id="getEvaluate" parameterType="ListVO">
		insert into
		TB_013(all_carer_score,
		jrsdc_carer_score,
		office_score,
		personality_score,
		interview_score,
		certificate_score,
		evaluate_score,
		judge_recom_score,
		review_etc
		)
		values(#{all_carer_score},
		#{jrsdc_carer_score},
		#{office_score},
		#{personality_score},
		#{interview_score},
		#{certificate_score},
		#{evaluate_score},
		#{judge_recom_score},
		#{review_etc}
		)
	</insert>

</mapper>