<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.court.proj.fcltt.FclttMapper">

    <insert id="fclttRegist" parameterType="FclttVO">
    	insert into TB_014(USER_PROPER_NUM,
							trial_fcltt_proper_num,
							court_proper_num,
							accept_etc
							)
		values(#{USER_PROPER_NUM},
				#{trial_fcltt_proper_num},
				#{court_proper_num},
				#{accept_etc}
				)
	
    </insert>
    
    <select id="getList" resultType="FclttVO">
	    SELECT tb14.accept_date,
		       tb14.accept_act_yn,
		       tb14.accept_etc,
		       tb11.court_name,
		       tb10.trial_fcltt_description,
		       tb1.user_name,
		       tb1.user_proper_num,
		       tb14.accept_proper_num
		FROM TB_014 tb14
		JOIN TB_011 tb11 ON tb11.court_proper_num = tb14.court_proper_num
		JOIN TB_010 tb10 ON tb14.trial_fcltt_proper_num = tb10.trial_fcltt_proper_num
		JOIN TB_001 tb1 ON tb14.user_proper_num = tb1.user_proper_num
		

		<where>
		
			<if test="cri.searchCourt !='' and cri.searchCourt != null"> 
			<!-- 	court_region like concat('%',#{cri.searchCourt},'%') -->
				and court_region like concat('%',#{cri.searchCourt},'%')
			</if>
			<if test="cri.searchCourtName !='' and cri.searchCourtName != null"> 
				and court_name like concat('%',#{cri.searchCourtName},'%')
			</if>
			<if test="cri.searchContent !='' and cri.searchContent != null"> 
				and court_region like concat('%',#{cri.searchContent},'%')
				or court_name like concat('%',#{cri.searchContent},'%')
				or user_name like  concat('%',#{cri.searchUser_name},'%') 
			</if>
			<if test="cri.searchAct !='' and cri.searchAct != null"> 
				and  accept_act_yn = #{cri.searchAct}
			</if>

		</where>
		
		
		
    </select>
    
	<select id="getTotal" resultType="int">
	    SELECT COUNT(*) FROM TB_014 tb14
	    JOIN TB_011 tb11 ON tb11.court_proper_num = tb14.court_proper_num
	    JOIN TB_010 tb10 ON tb14.trial_fcltt_proper_num = tb10.trial_fcltt_proper_num
	    JOIN TB_001 tb1 ON tb14.user_proper_num = tb1.user_proper_num
	    <where>
	        <!-- 검색 조건을 여기에 추가할 수 있습니다. -->
	        <if test="cri.searchCourt !='' and cri.searchCourt != null"> 
	            and court_region like concat('%',#{cri.searchCourt},'%')
	        </if>
	        <if test="cri.searchCourtName !='' and cri.searchCourtName != null"> 
	            and court_name like concat('%',#{cri.searchCourtName},'%')
	        </if>
	        <if test="cri.searchContent !='' and cri.searchContent != null"> 
	            and (court_region like concat('%',#{cri.searchContent},'%')
	            or court_name like concat('%',#{cri.searchContent},'%')
	            or user_name like concat('%',#{cri.searchUser_name},'%'))
	        </if>
	        <if test="cri.searchAct !='' and cri.searchAct != null"> 
	            and accept_act_yn = #{cri.searchAct}
	        </if>
	    </where>
	</select>
	    
    
    
	<!-- List에서 상세모기 모달창 ajax -->
	<select id="getFclttContent" resultType="FclttVO">
		select tb1.user_proper_num,
			   tb1.user_name,
			   tb14.accept_proper_num,
		       tb10.trial_fcltt_clasifi_code,
		       tb10.trial_fcltt_description,
		       tb6.edctn_school_name,
		       tb6.edctn_major,
		       tb6.edctn_degree,
		       tb7.company_name,
		       tb7.carer_type,
		       tb8.crtfc_type,
               tb11.court_region,
               tb11.court_name     
		from TB_014 tb14 
		join TB_010 tb10 on tb10.trial_fcltt_proper_num = tb14.trial_fcltt_proper_num
		join TB_001 tb1 on tb1.user_proper_num = tb14.user_proper_num
		join TB_005 tb5 on tb5.user_proper_num = tb14.user_proper_num
		join TB_006 tb6 on tb6.aplcn_dtls_proper_num = tb5.aplcn_dtls_proper_num
		join TB_007 tb7 on tb7.aplcn_dtls_proper_num = tb6.aplcn_dtls_proper_num
		join TB_008 tb8 on tb8.aplcn_dtls_proper_num = tb7.aplcn_dtls_proper_num
        join TB_011 tb11 on tb11.court_proper_num = tb14.court_proper_num
		where accept_proper_num = #{accept_proper_num}
	</select>

	
		<!-- 중지 or 활동신청 리스트  -->
	<select id="getPauseList" resultType="PauseVO">
	    SELECT tb14_2.accept_pause,
	           tb14_2.user_proper_num,
	           tb14_2.pause_status,
	           tb14_2.accept_proper_num,
	           tb14_2.pause_start_date,
	           tb14_2.pause_end_date,
	           tb14_2.pause_submit_date,
	           tb14_2.accept_pause_etc,
	           tb1.user_name,
	           tb14.accept_act_yn
	    FROM TB_014_2 tb14_2
	    JOIN TB_001 tb1 ON tb1.user_proper_num = tb14_2.user_proper_num
	    JOIN TB_014 tb14 ON tb14.user_proper_num = tb1.user_proper_num
	    WHERE pause_status = 'Y'
	    <if test="cri.searchAccept_act_yn != '' and cri.searchAccept_act_yn != null">
	        AND accept_act_yn = #{cri.searchAccept_act_yn}
	    </if>
	    <if test="cri.searchUser_name != '' and cri.searchUser_name != null">
	        AND user_name = #{cri.searchUser_name}
	    </if>
	</select>



	<!-- 중지 or 활동신청 데이터의 총 개수를 얻는 SQL 쿼리 -->
	<select id="getPauseTotal" resultType="int">
	    SELECT COUNT(*) 
	    FROM TB_014_2 tb14_2
	    JOIN TB_001 tb1 ON tb1.user_proper_num = tb14_2.user_proper_num
	    JOIN TB_014 tb14 ON tb14.user_proper_num = tb1.user_proper_num
	    WHERE pause_status = 'Y'
	    <if test="cri.searchAccept_act_yn != '' and cri.searchAccept_act_yn != null">
	        AND accept_act_yn = #{cri.searchAccept_act_yn}
	    </if>
	    <if test="cri.searchUser_name != '' and cri.searchUser_name != null">
	        AND user_name = #{cri.searchUser_name}
	    </if>
	</select>

	<update id="setPauseY" parameterType="FclttVO">
		UPDATE tb_014 AS tb14
		JOIN tb_014_2 AS tb14_2 ON tb14.user_proper_num = tb14_2.user_proper_num
		SET tb14.accept_act_yn = 'N',
		    tb14_2.accept_pause = 'N',
		    tb14_2.pause_status = 'N'
		WHERE tb14.user_proper_num = #{user_proper_num};
	</update>
	
	
	<update id="setPauseN" parameterType="FclttVO">
		UPDATE tb_014 AS tb14
		JOIN tb_014_2 AS tb14_2 ON tb14.user_proper_num = tb14_2.user_proper_num
		SET tb14.accept_act_yn = 'Y',
		    tb14_2.accept_pause = 'N',
		    tb14_2.pause_status = 'N'
		WHERE tb14.user_proper_num = #{user_proper_num};
	</update>
	




</mapper>