<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.court.proj.fcltt.FclttMapper">

    <insert id="fclttRegist" parameterType="FclttVO">
    	insert into TB_014(USER_PROPER_NUM,
							trial_fcltt_proper_num,
							court_proper_num,
							accept_etc
							)
		values(#{USER_PROPER_NUM},
				#{trial_fcltt_proper_num},
				#{court_proper_num},
				#{accept_etc}
				)
	
    </insert>


</mapper>