<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.court.proj.fcltt.FclttMapper">

    <insert id="fclttRegist" parameterType="FclttVO">
    	insert into TB_014(USER_PROPER_NUM,
							trial_fcltt_proper_num,
							court_proper_num,
							accept_etc
							)
		values(#{USER_PROPER_NUM},
				#{trial_fcltt_proper_num},
				#{court_proper_num},
				#{accept_etc}
				)
	
    </insert>
    
    <select id="getList">
	    SELECT tb14.accept_date,
		       tb14.accept_act_yn,
		       tb14.accept_etc,
		       tb11.court_name,
		       tb10.trial_fcltt_description,
		       tb1.user_name
		FROM TB_014 tb14
		JOIN TB_011 tb11 ON tb11.court_proper_num = tb14.court_proper_num
		JOIN TB_010 tb10 ON tb14.trial_fcltt_proper_num = tb10.trial_fcltt_proper_num
		JOIN TB_001 tb1 ON tb14.user_proper_num = tb1.user_proper_num

		<where>
		
			<if test="cri.searchCourt !='' and cri.searchCourt != null"> 
				court_name like concat('%', #{cri.searchCourt},'%')
			</if>
			<if test="cri.searchAct !='' and cri.searchAct != null"> 
				 and accept_act_yn like concat('%', #{cri.searchAct},'%')
			</if>
				
		</where>
		
		
		
    </select>
    


</mapper>