<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.court.proj.user.MypageMapper" >
	
	<select id="getUser" resultType="UserVO">
		select * 
		from TB_001 
		where user_proper_num = #{user_proper_num}
	</select>
	
	<select id="getHistory" resultType="ActiveVO">
		SELECT t.TRIAL_NUM, 
			   t.CHOSEN_DATE, 
			   t.ATTENDANCE_DATE, 
			   t.ACT_COMPLETE_YN,
			   o.USER_PROPER_NUM
		FROM TB_012 AS t
		LEFT JOIN TB_014 AS f
		   ON t.ACCEPT_PROPER_NUM = f.ACCEPT_PROPER_NUM
		LEFT JOIN TB_001 AS o
		    ON f.USER_PROPER_NUM =o.USER_PROPER_NUM
		where o.USER_PROPER_NUM =#{user_proper_num}
		
		<if test="cri.startDate != '' and cri.startDate != null ">
		<![CDATA[and ATTENDANCE_DATE >= #{cri.startDate}]]>
		</if>
		<if test="cri.endDate != '' and cri.endDate != null ">
    	<![CDATA[and ATTENDANCE_DATE <= #{cri.endDate}]]>
		</if>
		
		order by chosen_date desc
		LIMIT 0, 10
	</select>
	
	<select id="historyTotal">
		select count(*) 
		FROM 
			(SELECT
			 t.TRIAL_NUM, 
			 t.CHOSEN_DATE, 
			 t.ATTENDANCE_DATE, 
			 t.ACT_COMPLETE_YN,
			 o.USER_PROPER_NUM
			FROM TB_012 AS t
			LEFT JOIN TB_014 AS f
			   ON t.ACCEPT_PROPER_NUM = f.ACCEPT_PROPER_NUM
			LEFT JOIN TB_001 AS o
				ON f.USER_PROPER_NUM =o.USER_PROPER_NUM
			where o.USER_PROPER_NUM = #{user_proper_num}
			
			<if test="cri.startDate != '' and cri.startDate != null ">
			<![CDATA[and ATTENDANCE_DATE >= #{cri.startDate}]]>
			</if>
			<if test="cri.endDate != '' and cri.endDate != null ">
	    	<![CDATA[and ATTENDANCE_DATE <= #{cri.endDate}]]>
			</if>
			
			order by chosen_date desc) A
		

	</select>
	
	<update id="deleteUpdate">
		update TB_001 
		set user_delete_yn = 'Y' 
		where user_proper_num = #{user_proper_num}
	</update>
	
	<update id="modifyUpdate">
		update TB_001 
		set user_pw = #{user_pw},
			user_job = #{user_job},
		    user_phone = #{user_phone},
		    user_email_f = #{user_email_f},
		    user_email_b = #{user_email_b},
			user_ar = #{user_ar}, 
		    user_ar_zonecode = #{user_ar_zonecode}, 
		    user_ar_detail = #{user_ar_detail}, 
		    user_bank = #{user_bank}, 
		    user_bank_account = #{user_bank_account},
		    user_bank_holder = #{user_bank_holder}
		where user_proper_num = #{user_proper_num}
	</update>
	
	<select id="getStatus" resultType="MypageStatusVO">
		 select b.*,
				e.ANNOUNCE_TITLE,
				e.ANNOUNCE_END_DATE
				from (
						select a.*
						from (
								select 
									o.USER_PROPER_NUM,
									f.TRIAL_FCLTT_PROPER_NUM,
									f.APLICN_DTLS_DATE,
									f.APLICN_DTLS_STS,
                                    f.APLCN_DTLS_PROPER_NUM
								from TB_001 as o
								left join TB_005 as f
								on o.USER_PROPER_NUM = f.USER_PROPER_NUM) a
						left join TB_010 as t
						on a.TRIAL_FCLTT_PROPER_NUM = t.TRIAL_FCLTT_PROPER_NUM) b
		 left join TB_002 e
		 on b.TRIAL_FCLTT_PROPER_NUM = e.TRIAL_FCLTT_PROPER_NUM
		 where b.USER_PROPER_NUM = #{user_proper_num}
	
	</select>
	
	<insert id="regPause">
		INSERT 
		INTO TB_014_2 (ACCEPT_STATUS, 
					   PAUSE_START_DATE, 
					   PAUSE_END_DATE, 
					   ACCEPT_PAUSE_ETC)
		VALUES(#{accept_status},
		       #{pause_start_date}, 
		       #{pause_end_date}, 
		       #{accept_pause_etc})
			
	</insert>

	<select id="getPause" resultType="PauseDataVO">
		SELECT f.ACCEPT_ACT_YN
		FROM TB_001 AS o
		LEFT JOIN TB_014 AS f
		     ON f.USER_PROPER_NUM =o.USER_PROPER_NUM
		where o.USER_PROPER_NUM = #{user_proper_num}
	</select>

</mapper>       