<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.court.proj.user.MypageMapper" >
	
	<select id="getUser" resultType="UserVO">
		select * 
		from TB_001 
		where user_proper_num = #{user_proper_num}
	</select>
	
	<select id="getHistory" resultType="ActiveVO">
		SELECT t.TRIAL_NUM, 
			   t.CHOSEN_DATE, 
			   t.ATTENDANCE_DATE, 
			   t.ACT_COMPLETE_YN,
			   o.USER_PROPER_NUM
		FROM TB_012 AS t
		LEFT JOIN TB_014 AS f
		   ON t.ACCEPT_PROPER_NUM = f.ACCEPT_PROPER_NUM
		LEFT JOIN TB_001 AS o
		    ON f.USER_PROPER_NUM =o.USER_PROPER_NUM
		where o.USER_PROPER_NUM =#{user_proper_num}
		
		<if test="cri.startDate != '' and cri.startDate != null ">
		<![CDATA[and ATTENDANCE_DATE >= #{cri.startDate}]]>
		</if>
		<if test="cri.endDate != '' and cri.endDate != null ">
    	<![CDATA[and ATTENDANCE_DATE <= #{cri.endDate}]]>
		</if>
		
		order by chosen_date desc
		LIMIT 0, 10
	</select>
	
	<select id="historyTotal">
		select count(*) 
		FROM 
			(SELECT
			 t.TRIAL_NUM, 
			 t.CHOSEN_DATE, 
			 t.ATTENDANCE_DATE, 
			 t.ACT_COMPLETE_YN,
			 o.USER_PROPER_NUM
			FROM TB_012 AS t
			LEFT JOIN TB_014 AS f
			   ON t.ACCEPT_PROPER_NUM = f.ACCEPT_PROPER_NUM
			LEFT JOIN TB_001 AS o
				ON f.USER_PROPER_NUM =o.USER_PROPER_NUM
			where o.USER_PROPER_NUM = #{user_proper_num}
			
			<if test="cri.startDate != '' and cri.startDate != null ">
			<![CDATA[and ATTENDANCE_DATE >= #{cri.startDate}]]>
			</if>
			<if test="cri.endDate != '' and cri.endDate != null ">
	    	<![CDATA[and ATTENDANCE_DATE <= #{cri.endDate}]]>
			</if>
			
			order by chosen_date desc) A
		

	</select>
	
	<update id="deleteUpdate">
		update TB_001 
		set user_delete_yn = 'Y' 
		where user_proper_num = #{user_proper_num}
	</update>
	
	<update id="modifyUpdate">
		update TB_001 
		set user_pw = #{user_pw},
			user_job = #{user_job},
		    user_phone = #{user_phone},
		    user_email_f = #{user_email_f},
		    user_email_b = #{user_email_b},
			user_ar = #{user_ar}, 
		    user_ar_zonecode = #{user_ar_zonecode}, 
		    user_ar_detail = #{user_ar_detail}, 
		    user_bank = #{user_bank}, 
		    user_bank_account = #{user_bank_account},
		    user_bank_holder = #{user_bank_holder}
		where user_proper_num = #{user_proper_num}
	</update>
	
	<select id="getStatus" resultType="MypageStatusVO">
		select tb5.APLCN_DTLS_PROPER_NUM,
			   tb5.COURT_PROPER1, 
               tb5.COURT_PROPER2, 
               tb5.APLICN_DTLS_DATE, 
               tb5.APLICN_DTLS_STS,
               tb10.TRIAL_FCLTT_CLASIFI_CODE
		from TB_005 tb5
	    join TB_002 tb2 on tb5.TRIAL_FCLTT_PROPER_NUM = tb2.TRIAL_FCLTT_PROPER_NUM
        join TB_010 tb10 on tb10.TRIAL_FCLTT_PROPER_NUM = tb5.TRIAL_FCLTT_PROPER_NUM
	    where tb5.USER_PROPER_NUM = #{user_proper_num}
	    and tb5.aplicn_dtls_date between tb2.announce_start_date and tb2.ANNOUNCE_END_DATE
	</select>
	
	<insert id="regPause">
		INSERT 
		INTO TB_014_2 (ACCEPT_STATUS, 
					   PAUSE_START_DATE, 
					   PAUSE_END_DATE, 
					   ACCEPT_PAUSE_ETC)
		VALUES(#{accept_status},
		       #{pause_start_date}, 
		       #{pause_end_date}, 
		       #{accept_pause_etc})
			
	</insert>

	<select id="getPause" resultType="PauseDataVO">
		SELECT f.ACCEPT_ACT_YN
		FROM TB_001 AS o
		LEFT JOIN TB_014 AS f
		     ON f.USER_PROPER_NUM =o.USER_PROPER_NUM
		where o.USER_PROPER_NUM = #{user_proper_num}
	</select>
	
	<select id="pauseAccess" resultType="java.lang.Boolean">
		select case
					when tb14.ACCEPT_PROPER_NUM is null then false
					else true
			   end as ACCEPT_PROPER_NUM
		from TB_001 as tb1
		left join TB_014 as tb14 on tb1.USER_PROPER_NUM = tb14.USER_PROPER_NUM
		where tb1.USER_PROPER_NUM = #{user_proper_num}
	
	</select>
	
	<update id="deleteAplicn">
		update TB_005 set APLICN_DTLS_STS = '신청취소'
		where APLCN_DTLS_PROPER_NUM = #{aplcn_dtls_proper_num}
	</update>

</mapper>       