<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.court.proj.user.UserMapper">
	<select id="checkId">
    	select count(*) as count from TB_001 where user_id = #{user_id}
    </select>

	<insert id="userJoin" parameterType="UserVO">
		insert into TB_001 (USER_ID,USER_PW, USER_NAME, USER_RRN_F, USER_RRN_B, USER_EMAIL_F, USER_EMAIL_B, USER_PHONE,
							USER_JOB, USER_AR, USER_AR_ZONECODE, USER_AR_DETAIL, USER_BANK,
							USER_BANK_ACCOUNT, USER_BANK_HOLDER)
				VALUES (#{user_id},#{user_pw},#{user_name},#{user_rrn_f}, #{user_rrn_b}, #{user_email_f}, #{user_email_b}, #{user_phone},
						#{user_job},#{user_ar},#{user_ar_zonecode},#{user_ar_detail},#{user_bank},
						#{user_bank_account},#{user_bank_holder})
	</insert>

	<select id="searchId">
		select user_id from TB_001 where user_phone = #{phone}
	</select>

	
	<select id="login">
		select * from TB_001 where user_id = #{user_id}
	</select>
	
	<update id="update">
		update TB_001 set user_pw = #{user_pw} where user_proper_num = #{user_proper_num}
	</update>
	
	<update id="updatePw">
		update TB_001 set user_pw = #{newPw} where user_phone = #{phone}
	</update>
	
</mapper>