

/* ------------------조력자 등재 page  fclttRegist --------------------*/


.fclttRegist_btn{
	margin-top: 20px;
	text-align: center;
	
}
.fclttRegist_btn > button{
	height: 50px;
	width: 150px;
	border: 1px solid #2065c6;
	border-radius: 5px;
	margin: 5px;
	padding: 10px;

}

.fclttRegist_btn > button:hover{
		color: white;
		background-color: #2065c6;
	
}


.fcltt_comment{
	font-size: 15px;
	color: rgb(0, 0, 128);
}

.cm_inptxt{
	width: 180px;
	height: 38px;
}


.cm_inptxt:focus {
  outline: none;
}


/* ---------------------------------------------------------------------*/

/* ------------------조력자 등재명단 목록 fclttList --------------------*/

.fclttSearch_wrap{
	padding-left:230px;
	padding-right: 50px;
}

.fclttSearch_content, .fclttSearch_content2 {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
}


.cm_inptxt {
    height: 38px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #fff;
}
.fclttCheck{
	padding-top: 10px;
	margin-right: 5px;
}
.fclttSearch {
	height: 38px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.fclttCheck {
    display: flex;
    align-items: center;
    gap: 5px;
}

.fclttSearch_Btn {
    width: 70px;
    border-radius: 5px;
    text-align: center;
    line-height: 38px;
    border: none;
    background-color: #2065c6;
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

.fclttSearch1{
	width: 200px;
	
}
.fclttSearch2{
	width: 500px;
}

.fclttSearch3{
	 margin-left: auto; 

}
.fclttSearch_check{
	width: 20px;
	height: 20px;
}



.fclttStatus1{
  display: inline-block;
  vertical-align: middle;
  width: 77px;
  height: 35px;
  line-height: 35px;
  background:#2065c6;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
}

.fclttStatus2{
  display: inline-block;
  vertical-align: middle;
  width: 77px;
  height: 35px;
  line-height: 35px;
  background: rgb(128, 128, 128);
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
}

/* -----------------------------------------------------------------------*/

/* ------------------조력자중지신청 fclttPause --------------------*/

.pauseResult1{
  display: inline-block;
  vertical-align: middle;
  width: 77px;
  height: 35px;
  line-height: 35px;
  background: rgb(255, 255, 255);
  color:  #2065c6;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #2065c6;
}

.pauseResult1:hover{
  background: rgb(255, 0, 0);
  color:  rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
	
}

.pauseResult2{
  display: inline-block;
  vertical-align: middle;
  width: 77px;
  height: 35px;
  line-height: 35px;
  background: rgb(255, 255, 255);
  color:  #2065c6;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #2065c6;
}

.pauseResult2:hover{
  background: #2065c6;
  color:  rgb(255, 255, 255);
	
}
.hidden-row{
	background-color: rgb(235, 235, 235);
	text-align: center;
}
.hidden-row > td {
	 height: 70px;
}
.fcltt_content{
 display: inline-block;
  vertical-align: middle;
  width: 77px;
  height: 35px;
  line-height: 35px;
  color:  #2065c6;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #2065c6;
}

.fcltt_content:hover{
 display: inline-block;
  line-height: 35px;
  background-color:  #2065c6;;
  color:  white;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
}









/* ----------------------------------------------------------------------*/


/* ------------------- pause --------------------------------------------------------*/




/*  ----------------------------------      */
.popup_cont2 .fclttDetail_wrap{
	margin-top: 50px;
	border-bottom: 1px solid #888;
	padding: 20px;
	
}

.fclttSpan_wrap .fclttSpan{
	font-size: 18px;
	color: rgb(0, 0, 0);
	
}
.fclttSpan_title{
	font-size: 18px;
	color: #333;
	
}
.fclttSpan_title .fclttSpan1{
	font-size: 13px;
	color: rgb(145, 145, 145);
}

.fcltt_popup_wrap .fcltt_popup_content{
	
	padding-top: 30px; 
	
}



/*  ----------------------------------      */



/* lnb. s. 2021.02.03 수정 */
#lnb {position:relative;display:inline-block;width:220px; min-height: 600px; float:left; padding-top:40px;}
#lnb>.title {min-height:40px; font-family:"Nanum Gothic"; font-size:24px;line-height: 1.4;color:#13548a;margin:0; padding:0; border-bottom:2px solid #13548a;}
#lnb>.menu {margin-bottom:50px;}
#lnb>.menu a {display:block;font-family:"Nanum Gothic";}
#lnb>.menu a:hover{text-decoration:none;}
#lnb>.menu>ul>li {border-bottom:1px solid #e8e9ee;}
#lnb>.menu>ul>li>a {padding: 8px 0; font-size:16px; color:#525252; letter-spacing: -1px;}
#lnb>.menu>ul>li.line2>a {line-height: 20px; padding: 5px;}
#lnb>.menu>ul>li>a:hover {font-size:16px;color:#06C; font-weight:bold;}
#lnb>.menu>ul>li.on>a {font-size:16px;color:#1c449c; font-weight:bold;}

#lnb > .menu > ul > li > .sub {display: none; background-color:#f6f6f6;}
#lnb>.menu>ul>li>.sub>li>a {padding: 8px 0 8px 8px; color:#666;}
#lnb>.menu>ul>li>.sub>li>a:hover {color:#fff;background-color:#06C;}
#lnb>.menu>ul>li>.sub>li.on>a {color:#fff;background-color:#06C;}

#lnb > .menu > ul > li.has-sub > a {background: url(#) no-repeat right 10px top 50%;}
#lnb > .menu > ul > li.has-sub.on > a {border-bottom: 1px solid #1c449c; color: #333; font-weight: 700; background: url('/ei/images/common/arrow-fold.png') no-repeat right 10px top 50%; transition: all 0.3s;}
#lnb > .menu > ul > li .sub a {font-weight: 400; font-size: 16px; letter-spacing: -1px;}
/* lnb. e. */
	/* ---------- 상세내역 모달창 ----------------------------------------------*/
#popup_layer2 {
	border-radius: 8px 8px 0 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}


/*팝업 박스*/
.popup_box2 {
	border-radius: 8px;
	position: absolute;
	top: 4%;
	left: 29%;
	width: 770px;
	height: 238px;
	/* transform: translate(-50%, -50%); */
	/* box-sizing: border-box; */
	/* background: #fff; */
	/* box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35); */
	/* -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35); */
	-moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.fcltt_cont_top{
	border-bottom: 1px  solid#999;
	padding: 18px;
	font-size: 16px;
	text-align: left;
}
.fcltt_cont_left{
    padding: 7px;
    margin: 11px 0;
    height: 122px;
    max-height: 120px;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    padding-top: 0;
    font-size: 11px;
}

.fcltt_cont_left >h3{
	border-bottom: 1px solid#777;
}

/*컨텐츠 영역*/
.popup_box2 .popup_cont2 {
	border-radius: 8px  8px 0px 0px;
	padding: 30px 20px 20px 20px;
	line-height: 1.4rem;
	font-size: 14px;
	word-break: break-word;
	overflow: auto; /* 컨텐츠가 모달을 벗어나면 스크롤 표시 */
	text-align: center;
	background-color: rgb(240 244 247);
	padding-bottom: 0;
	margin-bottom: 0;
}

.popup_cont2_title{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.popup_cont2_title >p{
	display: inline-block;
	color: #13548a;
    font-size: 30px;
    font-weight: 900;
}


.popup_contText{
	margin-bottom: 20px;
	margin :0 auto;
	overflow: hidden;
	border-bottom: 2px solid #4b64c3;
}
#fcltt_h3 {
	padding: 0 10px;
	float: left;
	display: block;
	color: #13548a;

}

#fcltt_p_right{
	float: right;
	display: block;
	color: #5d5d5d;
	margin-right: 10px;
}

#fcltt_h2 {
	padding: 0 10px;
	color: #333;
	margin: 0;
	float: left;
	display: block;
	color: #5d5d5d;
}


/*버튼영역*/
.popup_box2 .popup_btn22 {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 60px;
	background: #5d5d5d;
	word-break: break-word;
	z-index: 1005;
	border-radius: 8px;
}

.popup_box2 .popup_btn22 a {
	display: table-cell;
	color: #fff;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	background: rgb(24, 33, 54);
	border-radius: 0 0 8px 8px;
}

.popup_box2 .popup_btn2 a:before {
	display: popup_btn22;
	position: absolute;
	top: 26px;
	right: 29px;
	width: 1px;
	height: 21px;
	background: #fff;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.popup_box2 .popup_btn22 a.close_day2 {
	background: #5d5d5d;
}

.popup_box2 .popup_btn22 a.close_day2:before,
.popup_box2 .popup_btn22 a.close_day2:after {
	display: none;
}


/*오버레이 뒷배경*/
.popup_overlay2 {
	position: fixed;
	top: 0px;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1001;
	background: rgba(0, 0, 0, 0.5);
}

.fcltt_popup_wrap{
	padding: 20px 10px;
	border-bottom: 2px solid #4b64c3;
}

.fcltt_cont_left > h3{
	border-top: 1px spild #777;
}
/* ----------------------------------------------------------------------*/

				
				






