<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{../css/fcltt/fcltt.css}" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script th:src="@{../js/fcltt/fcltt.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">

	<div class="wrap">

		<div id="main_con">
			<!--메뉴바-->
			<div id="nav_menu">
				<div id="lnb">
					<h2 class="title">조력자확인</h2>
					<div class="menu">
						<ul>
							<li class="has-sub">
							<li style="display: bolck !important;"><a href="/fcltt/fclttRegist">조력자 등재</a></li>
							<li style="display: bolck !important;"><a href="/fcltt/fclttList">조력자 등재명단</a></li>
							<li style="display: bolck !important;"><a href="/fcltt/pause">조력자 활동신청관리</a></li>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 메뉴바 여기까지-->
			<!--   본문 contents 내용 시작 -->

			<div id="contents">
				<style>
					@media screen and (max-width: 1024px) {
						.table-responsive>table>tbody>tr td[data-cell-header]:before {
							width: 30%;
							margin: 0 0 0 0;
							vertical-align: unset;
						}
					}

					.table-responsive>table>tbody>tr:hover {
						background-color: #e6f8ff;
					}

					@media screen and (min-width: 1100px) {
						#select-box-margin-left-10 {
							margin-left: 6px;
						}
					}
				</style>

				<article id="detail-content">
					<form id="listForm" name="fcltt_listForm" action="fclttList" method="get">
						<div class="heading-wrap container">
							<h3 class="heading1">
								<span>재판조력자 등재 명단</span>
							</h3>
						</div>
						<!-- 본문컨텐츠 영역 -->
						<div class="container">
							<hr />
							<div class="fclttSearch_wrap">
								<div class="fclttSearch_content">
									<select name="searchCourt" id="fcltt_searchC" class="fclttSearch fclttSearch1">
										<option value="">지역</option>
										<option value="">전체
										</option>
										<option value="서울">서울
										</option>
										<option value="대전">대전
										</option>
										<option value="대구">대구
										</option>
										<option value="부산">부산
										</option>
										<option value="광주">광주
										</option>
										<option value="수원">수원
										</option>
									</select>
									<input type="text" class="fclttSearch fclttSearch2" name="searchContent" />
									<a href="#" id="fclttSearch_btn" class="fclttSerch_Btn">조회</a>
									<select name="" id="" class="fclttSearch fclttSearch3">
										<option value="">활동여부</option>
										<option value="Y">활동중</option>
										<option value="N">중지중</option>
									</select>
								</div>
							</div>
							<hr />
					</form>
					<!-- 게시판 시작 부분 -->
					<div class="table table-responsive">
						<table>
							<caption>
								번호, 민원서식명, 민원분류, 처리기간, 서식파일, 신청의 대한
								정보 제공
							</caption>
							<colgroup>
								<col style="width: 10%" />
								<col style="width: 20%" />
								<col style="width: 15%" />
								<col style="width: 10%" />
								<col style="width: 15%" />
								<col style="width: 15%" />
								<col style="width: 15%" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">번호</th>
									<th scope="col">재판조력자분류</th>
									<th scope="col">법원명</th>
									<th scope="col">이름</th>
									<th scope="col">선발날짜</th>
									<th scope="col">상세보기</th>
									<th scope="col">활동여부</th>
								</tr>
							</thead>
							<tbody id="fclttListId">

							</tbody>
						</table>
					</div>

					<!-- pagenation -->
					<div class="pager">
						<!-- 페이지네이션 부분 -->
					</div>
				</article>
			</div>
			<!--모달창 작업-->
			<div id="popup_layer2">
				<div class="popup_box2">
					<!--모달 컨텐츠 영역-->
				</div>
			</div>
		</div>
		<!-- //본문컨텐츠 영역 -->
	</div>
	<!-- //main_con  -->




</th:block>


<script th:inline="javascript">
	$(document).ready(function () {

		// 목록 불러오기 ajax
		function loadList() {
			$.ajax({
				url: "fclttListAjax",
				type: "GET",
				success: function (data) {
					var tbody = $("#fclttListId");
					tbody.empty(); // 테이블 내용 초기화

					for (var i = 0; i < data.length; i++) {
						var vo = data[i];
						var str = "";

						str += '<tr>';
						str += '<td data-cell-header="번호">' + (i + 1) + '</td>';
						str += '<td data-cell-header="민원서식명">' + vo.trial_fcltt_description + '</td>';
						str += '<td data-cell-header="법원명">' + vo.court_name + '</td>';
						str += '<td data-cell-header="이름">' + vo.user_name + '</td>';
						str += '<td data-cell-header="날짜">' + moment(vo.accept_date).format('YYYY-MM-DD') + '</td>';
						str += '<td onclick="modalCont()" class="modal_ajax"><a class="fcltt_content" style="cursor: pointer"><em>상세보기</em></a>';
						str += '<input type="hidden" name="accept_proper_num" value="'+ vo.accept_proper_num +'" />';
						str += '<input type="hidden" name="user_proper_num" value="'+ vo.user_proper_num + '" /></td>';
						str += '<td><a class="' + (vo.accept_act_yn == 'Y' ? 'fclttStatus1' : 'fclttStatus2') + '">';
						str += '<em>' + (vo.accept_act_yn == 'Y' ? '활동중' : '중지중') + '</em></a></td>';
						str += '</tr>';

						// 표에 행 추가
						tbody.append(str);
					}
				}
			});
		}

		// 페이지 로드 시 목록을 불러옵니다.
		loadList();


		// 페이징 AJAX
		function loadPaging() {
			$.ajax({
				url: "fclttTotal",
				type: "GET",
				success: function (data) {
					// data를 JavaScript 변수로 할당
					var FclttPageVO = data;
					var pager = $(".pager");
					var str2 = '<div class="pager-wrap">';

					if (FclttPageVO.pageList.length > 1) {
						str2 += '<a href="/fcltt/pause?page=1&amount=' + FclttPageVO.amount +
							'&searchAccept_act_yn=' + FclttPageVO.cri.searchAccept_act_yn +
							'&searchUser_name=' + FclttPageVO.cri.searchUser_name +
							'&searchAct=' + FclttPageVO.cri.searchAct +
							'&searchDate=' + FclttPageVO.cri.searchDate +
							'&searchDate=' + FclttPageVO.cri.earchCourt +
							'&searchDate=' + FclttPageVO.cri.searchCourtName +
							'&searchContent=' + FclttPageVO.cri.searchContent + '"><strong class="sr-only">맨 처음 목록으로 이동</strong></a>';
					}
					if (FclttPageVO.pageList.length > 1 && FclttPageVO.prev) {
						str2 += '<a href="/fcltt/pause?page=' + (FclttPageVO.start - 1) +
							'&amount=' + FclttPageVO.amount +
							'&searchAccept_act_yn=' + FclttPageVO.cri.searchAccept_act_yn +
							'&searchUser_name=' + FclttPageVO.cri.searchUser_name +
							'&searchAct=' + FclttPageVO.cri.searchAct +
							'&searchDate=' + FclttPageVO.cri.searchDate +
							'&searchDate=' + FclttPageVO.cri.earchCourt +
							'&searchDate=' + FclttPageVO.cri.searchCourtName +
							'&searchContent=' + FclttPageVO.cri.searchContent + '"><strong class="sr-only">이전페이지로 이동</strong></a>';
					}
					for (var i = 0; i < FclttPageVO.pageList.length; i++) {
						var page = FclttPageVO.pageList[i];
						str2 += '<a href="/fcltt/pause?page=' + page +
							'&amount=' + FclttPageVO.amount +
							'&searchAccept_act_yn=' + FclttPageVO.cri.searchAccept_act_yn +
							'&searchUser_name=' + FclttPageVO.cri.searchUser_name +
							'&searchAct=' + FclttPageVO.cri.searchAct +
							'&searchDate=' + FclttPageVO.cri.searchDate +
							'&searchDate=' + FclttPageVO.cri.earchCourt +
							'&searchDate=' + FclttPageVO.cri.searchCourtName +
							'&searchContent=' + FclttPageVO.cri.searchContent + '" ';
						if (page == FclttPageVO.page) {
							str2 += 'class="active"';
						}

						str2 += '>' + page + '</a>';
					}
					if (FclttPageVO.pageList.length > 1 && FclttPageVO.next) {
						str2 += '<a href="/fcltt/pause?page=' + (FclttPageVO.end + 1) +
							'&amount=' + FclttPageVO.amount +
							'&searchAccept_act_yn=' + FclttPageVO.cri.searchAccept_act_yn +
							'&searchUser_name=' + FclttPageVO.cri.searchUser_name +
							'&searchAct=' + FclttPageVO.cri.searchAct +
							'&searchDate=' + FclttPageVO.cri.searchDate +
							'&searchDate=' + FclttPageVO.cri.earchCourt +
							'&searchDate=' + FclttPageVO.cri.searchCourtName +
							'&searchContent=' + FclttPageVO.cri.searchContent + '"><strong class="sr-only">다음페이지로 이동</strong></a>';
					}
					if (FclttPageVO.pageList.length > 1) {
						str2 += '<a href="/fcltt/pause?page=' + FclttPageVO.realEnd +
							'&amount=' + FclttPageVO.amount +
							'&searchCourt=' + FclttPageVO.cri.searchCourt +
							'&searchCourtName=' + FclttPageVO.cri.searchCourtName +
							'&searchAct=' + FclttPageVO.cri.searchAct +
							'&searchDate=' + FclttPageVO.cri.searchDate +
							'&searchDate=' + FclttPageVO.cri.earchCourt +
							'&searchDate=' + FclttPageVO.cri.searchCourtName +
							'&searchContent=' + FclttPageVO.cri.searchContent + '"><strong class="sr-only">맨 마지막목록으로 이동</strong></a>';
					}

					str2 += '</div>';
					// 표에 행 추가
					pager.empty().append(str2);
				}
			});
		}

		// 페이지 로드 시 페이징을 불러옵니다.
		loadPaging();

	});


	//모달창 ajax

	function modalCont() {

		var closestTr = $(".modal_ajax");
		var accept_proper_num = closestTr.find("input[name='accept_proper_num']").val();
		var user_proper_num = closestTr.find("input[name='user_proper_num']").val();
		console.log(accept_proper_num);
		console.log(user_proper_num);
		$.ajax({
			type: "POST",
			url: "getfclttModal",
			data: {
				"accept_proper_num": accept_proper_num,
				"user_proper_num": user_proper_num
			},
			dataType: "json",
			success: function (fclttData) {
				var modal = $("#popup_layer2");
				modal.css("display", "block");

				var str = '<div class="popup_cont2" style="overflow: hidden;">';
				str += '<div class="popup_cont2_title">';
				str += '<p>조력자 상세정보</p>';
				str += '</div>';
				str += '<div class="popup_contText">';
				str += '<h3 id="fcltt_h3">재판조력자</h3>';
				str += '<h2 id="fcltt_h2">김혜민</h2>';
				str += '<h3 id="fcltt_h3">현재 : 활동중</h3>';
				str += '<p id="fcltt_p_right">등재번호: 3</p>';
				str += '</div>';
				str += '<div class="fcltt_cont_top" style="width: 50%; float:left;">';
				str += '<table>';
				str += '<colgroup>';
				str += '<col style="width: 30%" />';
				str += '<col style="width: 70%" />';
				str += '</colgroup>';
				str += '<tbody>';
				str += '<tr>';
				str += '<th>조력자분류</th>';
				str += '<td>통역 > 통번역가</td>';
				str += '</tr>';
				str += '<tr>';
				str += '<th>법원</th>';
				str += '<td>서울 > 대법원</td>';
				str += '</tr>';
				str += '</tbody>';
				str += '</table>';
				str += '</div>';
				str += '<div class="fcltt_cont_top" style="width: 50%; float:right;">';
				str += '<h3></h3>';
				str += '<table>';
				str += '<colgroup>';
				str += '<col style="width: 30%" />';
				str += '<col style="width: 70%" />';
				str += '</colgroup>';
				str += '<tbody>';
				str += '<tr>';
				str += '<th>휴대전화</th>';
				str += '<td>010-6777-0486</td>';
				str += '</tr>';
				str += '<tr>';
				str += '<th>이메일</th>';
				str += '<td>hyem08111@gmail.com</td>';
				str += '</tr>';
				str += '</tbody>';
				str += '</table>';
				str += '</div>';
				str += '<div class="fcltt_cont_left" style="width: 48%; float: left;">';
				str += '<h3>학력정보</h3>';
				str += '<table>';
				str += '<colgroup>';
				str += '<col style="width: 40%" />';
				str += '<col style="width: 40%" />';
				str += '<col style="width: 20%" />';
				str += '</colgroup>';
				str += '<thead>';
				str += '<tr style="border-bottom: 1px solid #777;">';
				str += '<th scope="col">학교</th>';
				str += '<th scope="col">전공</th>';
				str += '<th scope="col">학위</th>';
				str += '</tr>';
				str += '</thead>';
				str += '<tbody>';
				str += '<tr>';
				str += '<td data-cell-header="번호">OOO 학교</td>';
				str += '<td data-cell-header="민원서식명">OOO 전공</td>';
				str += '<td data-cell-header="법원명">박사</td>';
				str += '</tr>';
				str += '</tbody>';
				str += '</table>';
				str += '</div>';
				str += '<div class="fcltt_cont_left" style="width: 48%; float: right;">';
				str += '<h3>참여재판이력</h3>';
				str += '<table>';
				str += '<colgroup>';
				str += '<col style="width: 40%" />';
				str += '<col style="width: 40%" />';
				str += '<col style="width: 20%" />';
				str += '</colgroup>';
				str += '<thead>';
				str += '<tr style="border-bottom: 1px solid #777;">';
				str += '<th scope="col">재판번호</th>';
				str += '<th scope="col">출석일자</th>';
				str += '<th scope="col">완료여부</th>';
				str += '</tr>';
				str += '</thead>';
				str += '<tbody>';
				str += '<tr>';
				str += '<td data-cell-header="번호">1234</td>';
				str += '<td data-cell-header="민원서식명">2003.09.10</td>';
				str += '<td data-cell-header="법원명">완료</td>';
				str += '</tr>';
				str += '</tbody>';
				str += '</table>';
				str += '</div>';
				str += '<div class="fcltt_cont_left" style="width: 48%; float: left;">';
				str += '<h3>자격증정보</h3>';
				str += '<table>';
				str += '<colgroup>';
				str += '<col style="width: 30%" />';
				str += '<col style="width: 70%" />';
				str += '</colgroup>';
				str += '<tbody>';
				str += '<tr>';
				str += '<th>자격증명</th>';
				str += '<td>정보처리기사</td>';
				str += '</tr>';
				str += '</tbody>';
				str += '</table>';
				str += '</div>';
				str += '<div class="fcltt_cont_left" style="width: 48%; float: right;">';
				str += '<h3>경력정보</h3>';
				str += '<table>';
				str += '<colgroup>';
				str += '<col style="width: 40%" />';
				str += '<col style="width: 40%" />';
				str += '<col style="width: 20%" />';
				str += '</colgroup>';
				str += '<thead>';
				str += '<tr style="border-bottom: 1px solid #777;">';
				str += '<th scope="col">회사명/활동기관</th>';
				str += '<th scope="col">경력구분</th>';
				str += '<th scope="col">부서</th>';
				str += '</tr>';
				str += '</thead>';
				str += '<tbody>';
				str += '<tr>';
				str += '<td data-cell-header="번호">현대</td>';
				str += '<td data-cell-header="민원서식명">CA</td>';
				str += '<td data-cell-header="법원명">경영</td>';
				str += '</tr>';
				str += '</tbody>';
				str += '</table>';
				str += '</div>';
				str += '</div>';
				str += '<div class="popup_btn22"><a href="javascript:closePop2();">닫기</a></div>';
				str += '</div>';
				str += '</div>';

				var popupBox = $(".popup_box2");
				popupBox.html(str);
				window.scrollTo(0, 0);
			}
		});
	}
	/*});*/




</script>


<script th:inline="javascript">

	var fclttSearch_btn = document.getElementById("fclttSearch_btn");
	fclttSearch_btn.onclick = function () {
		event.preventDefault(); // a 태그 중지버튼
		document.fcltt_listForm.submit();
	}



</script>












</html>