<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{../css/fcltt/fcltt.css}" />
	<script th:src="@{../js/fcltt/fcltt.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<th:block th:replace="~{./include/basicLayout :: setContent(~{::.wrap})}">


	<div class="wrap">
		<!-- main_con  -->
		<div id="main_con">
			<div id="nav_menu">
				<div id="lnb">
					<h2 class="title">조력자 확인</h2>
					<div class="menu">
						<ul>
							<li class="has-sub">
							<li style="display: bolck !important;"><a href="/fcltt/fclttRegist">조력자 등재</a></li>
							<li style="display: bolck !important;"><a href="/fcltt/fclttList">조력자 등재명단</a></li>
							<li style="display: bolck !important;"><a href="/fcltt/pause">조력자 활동신청관리</a></li>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<div id="contents">

				<style>
					@media screen and (max-width: 1024px) {
						.table-responsive>table>tbody>tr td[data-cell-header]:before {
							width: 30%;
							margin: 0 0 0 0;
							vertical-align: unset;
						}
					}

					.table-responsive>table>tbody>tr:hover {
						background-color: #e6f8ff;
					}

					@media screen and (min-width: 1100px) {
						#select-box-margin-left-10 {
							margin-left: 6px;
						}
					}
				</style>
			</div>
		</div>


		<div id="popup_layer2">
			<div class="popup_box2">
				<!--팝업 컨텐츠 영역-->
				<div class="popup_cont2" style="overflow: hidden;">
					<div class="popup_cont2_title">
						<p>조력자 상세정보</p>
					</div>
					<div class="popup_contText">
						<h3 id="fcltt_h3"> 재판조력자</h3>
						<h2 id="fcltt_h2">김혜민</h2>
						<h3 id="fcltt_h3">현재 : 활동중</h3>
						<p id="fcltt_p_right">등재번호: 3 </p>
					</div>
					<div class="fcltt_cont_top" style="width: 50%; float:left;">
						<table>
							<colgroup>
								<col style="width: 30%" />
								<col style="width: 70%" />
							</colgroup>
							<tbody>
								<tr>
									<th>조력자분류 </th>
									<td> 통역 > 통번역가</td>
								</tr>
								<tr>
									<th>법원 </th>
									<td> 서울 > 대법원</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="fcltt_cont_top" style="width: 50%; float:right;">
						<h3></h3>
						<table>
							<colgroup>
								<col style="width: 30%" />
								<col style="width: 70%" />
							</colgroup>
							<tbody>
								<tr>
									<th>휴대전화 </th>
									<td>010-6777-0486</td>
								</tr>
								<tr>
									<th>이메일 </th>
									<td> hyem08111@gmail.com</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="fcltt_cont_left" style="width: 48%;float: left;">
						<h3>학력정보</h3>
						<table>
							<colgroup>
								<col style="width: 40%" />
								<col style="width: 40%" />
								<col style="width: 20%" />
							</colgroup>
							<thead>
								<tr style="border-bottom: 1px solid #777; ">
									<th scope="col">학교</th>
									<th scope="col">전공</th>
									<th scope="col">학위</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-cell-header="번호">OOO 학교</td>
									<td data-cell-header="민원서식명">OOO 전공</td>
									<td data-cell-header="법원명">박사</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="fcltt_cont_left" style="width: 48%; float: right;">
						<h3>참여재판이력</h3>
						<table>
							<colgroup>
								<col style="width: 40%" />
								<col style="width: 40%" />
								<col style="width: 20%" />
							</colgroup>
							<thead>
								<tr style="border-bottom: 1px solid #777;">
									<th scope="col">재판번호</th>
									<th scope="col">출석일자</th>
									<th scope="col">완료여부</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-cell-header="번호">1234</td>
									<td data-cell-header="민원서식명">2003.09.10</td>
									<td data-cell-header="법원명">완료</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="fcltt_cont_left" style="width: 48%; float: left;">
						<h3>자격증정보</h3>
						<table>
							<colgroup>
								<col style="width: 30%" />
								<col style="width: 70%" />
							</colgroup>
							<tbody>
								<tr>
									<th>자격증명</th>
									<td>정보처리기사</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="fcltt_cont_left" style="width: 48%; float: right;">
						<h3>경력정보</h3>
						<table>
							<colgroup>
								<col style="width: 40%" />
								<col style="width: 40%" />
								<col style="width: 20%" />
							</colgroup>
							<thead>
								<tr style="border-bottom: 1px solid #777;">
									<th scope="col">회사명/활동기관</th>
									<th scope="col">경력구분</th>
									<th scope="col">부서</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-cell-header="번호">현대</td>
									<td data-cell-header="민원서식명">CA</td>
									<td data-cell-header="법원명">경영</td>
								</tr>
							</tbody>

						</table>
					</div>


				</div>
				<hr style="width: 3px; margin: 10px 0;"/ >
							<div class="popup_btn22"><a href="javascript:closePop2();">닫기</a></div>
			</div>

		</div>

	</div>


</th:block>

</html>